<div style="margin-right:-8%;width:1010px" class="col-md-12" id="crowdView">
<div id="crowd" class="backGroundColor" style="padding-top:1px;overflow: auto;min-height:1000px;">
	<div class="col-md-10 listDivs" style="height:auto;background-color: rgb(243, 243, 243);margin-top:5px;min-height:154px">
		
		<div class="brand col-md-3">
			<div class="thumbnail span" id="crowdUserImg"><img src=""  id="crowdprofileImg"  width="350" height="350"/>
			</div>
		</div>
		<div id="flName" style="font-family: Helvetica Neue;"></div>
		<div id="crowdUserName" style="font-family: Helvetica Neue;"></div>
		<div id="crowdurl" class="linkTabs col-md-9">
			<p id="crowdUrl" style="font-family: Helvetica Neue;color:blue;" ></p>
		</div>
		<div id="crowdDescription" style="font-family: Helvetica Neue;word-wrap: break-word;"></div>
	</div>
	
	
		<div style="background-color: #EAEDEF;max-height: auto;">
			<div class="backGroundColor" style=" min-height:550px; max-height: auto;">
				<div class="userNoteForCrowd" id="crowdUser" style="margin-left:6px"></div>
			</div>	
		</div>
	</div>
</div>

<div id="moreActions" class="modal" data-backdrop="static" aria-hidden="false" >
<div class="modal-dialog modalDialogHeight" >
           <div class="modal-content" style="margin-left:-10px;margin-right:-10px;margin-top:-16px;margin-bottom:-13px;height: 100%">
	<div class="modal-header fontStyle"><span class="close" data-dismiss="modal"
		aria-hidden="true" id="crowdMoreActionsClose">&times;</span>
	</div>
	<div class="modal-body crowdModalBodyHieght" style="overflow: auto;margin-top:8px">
		<div id="contents" class="col-md-5 fontStyle"></div>
		
	</div>
	</div>
	</div>
</div>
<div id="moreActions" class="modal"><div class="modal-dialog" >
    <div class="modal-content" style="margin-left:-10px;margin-right:-10px;margin-top:-16px;margin-bottom:-13px">
		<div class="modal-header fontStyle"><span class="close" data-dismiss="modal"
			aria-hidden="true" id="crowdMoreActionsClose" style="margin-top:25px">&times;</span>
		</div>
		<div class="modal-body" style=" overflow: auto;height:372px;margin-top:8px" >
			<div id="contents" class="col-md-5 fontStyle"></div>
		</div>
	</div>
	</div>
</div>

<div id="complaintReportModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog" >
    	<div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="complaintReportLabel">Please let us know what you feel is inappropriate about this Note?</h4>
			</div>
			<div class="modalBody" >
				<div class="control-group">
<!-- 					<textarea class="control-label-text" id="userComplaint" style="font-size: 14px;height: 70px;margin-left: 1px; width: 96%;"></textarea> -->
<!-- 				<div id="userReportDialog" style="font-family: Helvetica Neue;font-size:14px;display:none" title="Basic dialog"><font color="red"></font></div> -->
				</div>
			</div>
			<div class="modalFooter">
				<button class="btn btn-success fontStyle" id="complaintReportYes" style="font-family: Helvetica Neue;">Send</button>
				<button class="btn btn-danger fontStyle" id="complaintReportNo" style="font-family: Helvetica Neue;">Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="modal " id="msgNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
	<div class="modal-dialog" >
        <div class="modal-content">
			<div class="modal-header">
				
			</div>
			<div id="msg-modal-body-modal" class="modal-body col-md-9" >
				<span id="msg-modal-message-modal"></span>
			</div>
		</div>
	</div>
</div>

<div id="commentsDeletModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
<div class="modal-dialog" >
   <div class="modal-content">
	<div class="modalHeader">
		<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
		<h4 id="commentsDeletLabel">Delete Comment </h4>
	</div>
	<div class="modalBody">
		<div class="control-group">
			<label class="control-label" for="name">Are you sure to delete this comment?</label>
			
		</div>
	</div>
	<div class="modalFooter">
		<button class="modalBtn fontStyle" id="commentsDeletYes">Yes</button>
		<button class="modalBtn fontStyle" id="commentsDeletNo" >No</button>
	</div>
	</div>
	</div>
</div>

<link rel="stylesheet" href="css/help.css" ></link>
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
<script src="js/models/crowd.js" type="text/javascript"></script> 
<script src="js/function/notesview.js" type="text/javascript"></script> 
<link rel="stylesheet" href="css/note.css" ></link>
<script>
$('#crowdUser').on('mouseenter','.noteDiv',function(){
	$(this).css({"background-color":"linear-gradient(to bottom, #A4A4A4 0%, #A4A4A4 100%) repeat scroll 0 0 transparent"});
});
$('#crowdUser').on('mouseleave','.noteDiv',function(){
	$(this).css({"background-color":"#F3F3F3"});
});	

$(document).ready(function(){
    
    $('#moreActions').on('show.bs.modal', function() { 
    var height=window.screen.height 
    //alert(window.screen.height); 
    $(this) .css({ position: 'fixed', overflow: 'hidden', height:height+'px', bottom: 'auto' }); 
    setTimeout( function() { $('.modal-backdrop').css({ position: 'absolute', top: 0, left: 0, width: '100%', height: Math.max( document.body.scrollHeight, document.documentElement.scrollHeight, document.body.offsetHeight, document.documentElement.offsetHeight, document.body.clientHeight, document.documentElement.clientHeight ) + 'px' }); }, 0);     
    });  
    });

</script>