<script src="js/function/emailView.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="img/style.css">
<!-- markItUp! skin -->
<link rel="stylesheet" type="text/css"
	href="markitup/skins/markitup/style.css">
 <!--  markItUp! toolbar skin -->
<link rel="stylesheet" type="text/css"
	href="markitup/sets/default/style.css">
<link href="css/styles.css" rel="stylesheet" />
 <!-- markItUp! -->
<script type="text/javascript" src="markitup/jquery.markitup.js"></script>
 <!-- markItUp! toolbar settings--> 
<script type="text/javascript" src="markitup/sets/default/set.js"></script>
<script src="js/tagit.js"></script>

 <!-- 5.  jquery styles for  tagit component-->
<link type="text/css" href="css/tagit-stylish-yellow.css"
	rel="stylesheet" />






<div class="container-fluid navbar headerBody">
<div class="row">
<!--<div class="col-md-4 pagination-centered paddingTopStyle"><img
	src="pics/logo.png"></div>-->
<div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<!--<form class="navbar-search"><input id="searchText" type="text"
	class="searchOption dropdown-toggle" placeholder="Search"
	autocomplete="off"></form> -->
<ul class="list-inline dropdown headerMenu" style="margin-top:8px;margin-right:50px;">

	<!--<li class="dropdown"><div class="btn-group"> <a  class="btn-mini dropdown-toggle" id="messageCount" data-toggle="dropdown" ><span
		class="badge" id="msglable"></span><i class="glyphicon glyphglyphicon glyphicon-envelope" 
		id="msgIcon"></i> </a>
	<ul class="dropdown-menu">
		<li><a href="#inbox" id="inbox">Inbox</a></li>
		<li><a href="#sent" id="sent">Sent</a></li>
		<li class="divider"></li>
		<li><a href="#compose" id="compose">Compose</a></li>
	</ul></div>
	</li> -->
	<li> <a id="homeLink" href="#home" style="font-size: 16px;color:#ffab60;outline:none;text-decoration:none;"> &nbsp;&nbsp;&nbsp;<font class="fontStyle">Home</font>&nbsp;&nbsp;&nbsp;</a></li>
	
	<li>
	<a class="btn-mini dropdown-toggle requestClasses" data-toggle="dropdown" title="Friend Requests"  id="fndrequests"><i class="glyphicon glyphicon-user white" style="margin-top: 7px;">
	  </i></a>
	<ul class="dropdown-menu" id="userslists">
	</ul>
	</li>
	
	<li><a id="notification" class="btn-mini dropdown-toggle js-show-notification"  title="Notifications"  data-toggle="dropdown">
	 <i class="glyphicon glyphicon-globe white" style="margin-top: 7px;"></i></a>
	 <ul class="dropdown-menu pull-right" style="width:100%;"id="notificationlists"></ul>
	</li>
	<li> <a id="reminders" class="btn-mini dropdown-toggle js-show-remainders"  title="Reminders" data-toggle="dropdown"><i
		class="glyphicon glyphicon-time white" style="margin-top: 7px;"></i></a><ul class="dropdown-menu"style="width:100%;" id="reminderslists"></ul> </li>
	
	<li class="dropdown" style="margin-right:-30%;"><a class="dropdown-toggle fontStyle"
		data-toggle="dropdown"  id="userView"  style="color: #ffab60;font-size:16px;text-decoration:none;"><b class="caret"></b></a>
	<ul class="dropdown-menu pull-right">
		<!-- <li><a >Settings</a></li>
		<li><a >Help</a></li>
		<li><a >Privacy</a></li> -->
		<li><a href="#profile" id="userProfile"><font style="font-size: 16px;" class="fontStyle">Profile</font></a></li>
		<li><a href="#resetpassword" id="resetpassword"><font style="font-size: 16px;" class="fontStyle">Reset Password</font></a></li>
		<li><a href="#help" id="help"><font style="font-size: 16px;" class="fontStyle">Help/Feedback</font></a></li>
		<!-- <li><a >FeedBack/Support</a></li> -->
		<li><a href="#logout" id="logout"><font style="font-size: 16px;" class="fontStyle">Log Out</font></a></li>
		
	</ul>
	</li>
</ul>
</div>
</div>
</div>
<div id="mailmessagesmodal" class="modal hide fade" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel">
<div class="modalHeader">
<button type="button" class="close" data-dismiss="modal"
	aria-hidden="true">&times;</button>

<button id="sendMail" class="btn btn-small btn-primary" type="button">Send</button>



</div>
<div class="modalBody">
<div class="row">
<div class="col-md-"><label> To</label></div>
<div class="col-md-4">
<ul id="fromulselect"></ul>
</div>
</div>

<div class="row">
<div class="col-md-"><label> subject</label></div>
<div class="col-md-4"><input id="mailSubject"></input></div>
</div>



<div class="col-md-3"><textarea id="markItUp" rows="6"></textarea></div>
</div>
</div>


<!-- read mail modal panel starts-->

<div id="readmailmodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h3 id="myModalLabel">Mails</h3>
</div>
<div class="modal-body" >

		
		<div class="accordion" id="mailaccordion">
<div class="accordion-group">
<div class="accordion-heading">

</div>
<div id="mailcollapseOne" class="accordion-body collapse out">
<div class="accordion-inner">

</div>
</div>
</div>

</div>
     

</div>
<div class="modal-footer">
</div>
</div>

<!-- read mail modal panel end-->

<script type="text/javascript">
$(function() {
	// Add markItUp! to your textarea in one line
	// $('textarea').markItUp( { Settings }, { OptionalExtraSettings } );
	$('#markItUp').markItUp(mySettings);



	// You can add content from anywhere in your page
	// $.markItUp( { Settings } );	
	$('.add').click(function() {
 		$('#markItUp').markItUp('insert',
			{ 	openWith:'<opening tag>',
				closeWith:'<\/closing tag>',
				placeHolder:"New content"
			}
		);
 		return false;
	});
	
	// And you can add/remove markItUp! whenever you want
	// $(textarea).markItUpRemove();
	$('.toggle').click(function() {
		if ($("#markItUp.markItUpEditor").length === 1) {
 			$("#markItUp").markItUp('remove');
			$("span", this).text("get markItUp! back");
		} else {
			$('#markItUp').markItUp(mySettings);
			$("span", this).text("remove markItUp!");
		}
 		return false;
	});
});



$(function() {
	$('#fromulselect').tagit( {
		
		triggerKeys : [ 'enter', 'comma', 'tab' ]
	});
});

$('#homeLink').click(function(){
	$('.phonne').css({"background-color":""});
});

</script>
<script src="js/models/loginmodel.js"></script>
<script src="js/function/searchUsers.js"></script>
<script src="js/collection/todayschedulecollection.js"></script>

