<div class="container-fluid  headerBody paddingRightStyle">
</div>
<div class="container-login" id="loginContainer">
<form id="bridgeForm" action="#" target="loginframe" autocomplete="on" method="post">

<div class="form-signin">
<div class="row">
<div class="col-md-11 pagination paddingTopStyle" >
			<img  src="pics/logo.png">
</div>
<div class="col-md-11" >
</div>
<span class="form-signin-heading fontStyle14" id="signinspan">Sign In</span>
 <input	id="username" name="uname" type="text" class="form-control fontStyle loginPasswd" placeholder="Enter User Name" />
 <input id="password" name="pass" type="password" class="form-control loginPasswd fontStyle" placeholder="Enter Password" /> 
 
 <a  id="forgotpasswordId" class="fontStyle14">Forgot Password </a> <br/><br> 
 <a href="#register" id="register" class="fontStyle14">Sign Up </a><br/></br>
 <input class="btn btn-medium btn-primary" type="submit" value="Login" font style="font-family: Helvetica Neue;font-size:14px;" name="Submit" id="userLogin"/> OR <a style="text-decoration: none" id="forgotpasswordId1" class="fontStyle14">Sign In Using </a> 
     <img src="img/fblogin.jpg" class="fbLogIn" onclick="loginFB()" alt="" style="width:28%;"/>
  </div>
 </div>
</form>
<iframe id="loginframe" name="loginframe" style="display:none"></iframe>
<div id="login" style="display: none"></div>
<div id="name"></div>

<div class="modal" id="msgModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		style="position:absolute;top:10%" >
			<div class="modal-dialog">
    <div class="modal-content">	
		<div class="modal-header fontStyle"id="modalhead">
			<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
			<span id="msg-header-span"></span>
		</div>
		<div id="msg-modal-body" class="modal-body col-md-6 fontStyle">
			<span id="modal-message"></span>
			<select id="securitySelect"></select>
		</div>
		<div class="modal-footer" >
			<a id="fotgersubmit" class="btn btn-small btn-success" style="font-family: Helvetica Neue;font-size:14px;" >Submit</a>
			<a id="fotgercancel" class="btn btn-small  btn-danger" role="button" data-dismiss="modal" aria-hidden="true" style="font-family: Helvetica Neue;font-size:14px;" >Close</a>
		</div>
	</div>
	</div>
	</div>
	
	    <div class="modal" id="logOutModal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true"
        style="position:absolute;top:10%" >
<div class="modal-dialog" >
<div class="modal-content">    
        <div class="modalHeader fontStyle"id="modalhead">
            <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;</button>
            <span id="msg-header-span"></span>
        </div>
        <div class="modalBody fontStyle">
            <div class="control-group">
                    <label class="control-label" for="name">Do you really want to logout both facebook and musicnote. Click yes to logout both. Click no to logout only musicnote.</label>
                </div>
        </div>
        <div class="modalFooter" >
            <a id="fbLogoutYes" class="btn btn-small btn-success" style="font-family: Helvetica Neue;font-size:14px;">Yes</a>
            <a id="fbLogoutNo" class="btn btn-small  btn-danger" role="button" data-dismiss="modal" aria-hidden="true" style="font-family: Helvetica Neue;font-size:14px;">No</a>
        </div>
        
    </div></div></div>
	
	
</div>
<script src="js/models/facebook.js"></script>
<script src="js/models/loginmodel.js"></script>