<script type="text/javascript">
var tag = document.createElement('script');
 
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>
<link rel="stylesheet" href="css/note.css" ></link>
<link href="css/uploadfile.css" rel="stylesheet">
<script src="js/jquery.uploadfile.min.js"></script>
<link href="../upgradecss/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">

<div class=""	style="background-color: #DDDDDD;" >
	<div class="backGroundColor" style="padding-top:1px;overflow: auto;min-height:1000px; max-height: auto;" id="notes">
	
	<div class="paddingTopStyle" id="scheduleNoteDiv" style="display:none;" >
	<div class="col-md-4" id="notesearch">
	<div class="input-prepend"> <span class="add-on"><i class="glyphicon glyphicon-search"></i></span><input class="form-control input-medium search-query fontStyle"
	data-provide="typeahead" id="searchScheduleNote"  type="text" style="border-radius:30px;" placeholder="Search by Schedule note"></input></div>
	</div>
		<button class="btn btn-default btn-primary fontStyle" id="scheduleaddNote" style="position: relative;text-decoration: none; font-weight: 100; border-radius: 7px 7px 7px 7px; padding:5px;" ><span class="glyphicon glyphicon-plus"></span> Event </button>
		<button class="btn btn-default btn-primary fontStyle" id="scheduleaddBook" style="position: relative;text-decoration: none; font-weight: 100; border-radius: 7px 7px 7px 7px; padding:5px;" ><span class="glyphicon glyphicon-plus"></span> Calendar </button>
		
		<select id="scheduleNotebookId" class="form-control col-md-4 selectNotes" style="display: inline-block;font-family: Helvetica Neue;text-overflow: ellipsis;white-space:normal;word-break:break;overflow-x:scroll;"></select>
		 <div id="calendarlist" class="col-md-9" style="margin-bottom:15px">
					<!--<div class="btn-group dropdown" id="calendareventdetails" role="menu" aria-labelledby="dLabel" >
					<a class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i> View </a>
					<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" ><span class="caret"></span></a>
    				<ul class="dropdown-menu userGroup dropDownStopProgress fontStyle" id="calendarul"></div>-->
		</div> 	
	</div>
	<div class="paddingTopStyle" id="musicNoteDiv" style="display:none;">
	<div class="col-md-4" id="notesearch">
	<div class="input-prepend"><span class="add-on"><i class="glyphicon glyphicon-search"></i></span><input class="form-control input-medium search-query fontStyle"
	data-provide="typeahead"  id="searchMusicNote" type="text" style="border-radius:30px;"placeholder="Search by Note"></input></div>
	</div>
			
			<button class="btn btn-default btn-primary fontStyle" id="musicaddNote" style="position: relative;text-decoration: none; font-weight: 100; border-radius: 7px 7px 7px 7px; padding:5px;" ><span class="glyphicon glyphicon-plus"></span> Note </button>
			<button class="btn btn-default btn-primary fontStyle" id="musicaddBook" style="position: relative;text-decoration: none; font-weight: 100; border-radius: 7px 7px 7px 7px; padding:5px;" ><span class="glyphicon glyphicon-plus"></span> Book </button>
			
		<select id="musicNotebookId" class="form-control col-md-4 selectNotes fontStyle" style="text-overflow: ellipsis;white-space:normal;word-break:break;overflow-x:scroll;"></select> &nbsp;&nbsp;&nbsp;
		
		<select id="musicTagBookId" class="form-control col-md-4 selectTagBook fontStyle" style="display: inline-block;margin-left:0%;text-overflow: ellipsis;white-space:normal;word-break:break;overflow-x:scroll;"></select>	
		
	</div>
	<div class="paddingTopStyle" id="memoNoteDiv" style="display:none;">
	<div class="col-md-4" id="notesearch">
	<div class="input-prepend"><span class="add-on"><i class="glyphicon glyphicon-search"></i></span><input class="form-control input-medium search-query fontStyle"
	data-provide="typeahead" id="searchMemoNote" type="text" style="border-radius:30px;" placeholder="Search by Memo"></input></div>
	</div>
			
				<button class="btn btn-default btn-primary fontStyle" id="memoaddNote" style="position: relative;text-decoration: none; font-weight: 100; border-radius: 7px 7px 7px 7px; padding:5px;" ><span class="glyphicon glyphicon-plus"></span> Memo </button>
				<button class="btn btn-default btn-primary fontStyle" id="memoaddBook" style="position: relative;text-decoration: none; font-weight: 100; border-radius: 7px 7px 7px 7px; padding:5px;" ><span class="glyphicon glyphicon-plus"></span>Book </button>
			
			<select id="memoNotebookId" class="form-control col-md-4 selectNotes fontStyle" style="text-overflow: ellipsis;white-space:normal;word-break:break;overflow-x:scroll;"></select>
		
			<select id="memoTagBookId" class="form-control col-md-4 selectTagBook fontStyle" style="display: inline-block;margin-left:0%;text-overflow: ellipsis;white-space:normal;word-break:break;overflow-x:scroll;"></select>	
	</div>
	</div>
	<div id="addListModal" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
	<div class="modal-dialog" >
    <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="myModalLabel" class="fontStyle">Add Notebook</h4>
			</div>
			<div class="modalBody">
				<div class="control-group fontStyle">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" class="form-control modalName" style="font-family: Helvetica Neue;font-size:14px;width:58%;" id="modelName" placeholder="Enter Notebook Title">
						<label id="bookWarningId"></label>
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="newAdd">Add</button>
				<button class="modalBtnPrimary fontStyle" id="cancelModel" data-dismiss="modal">Cancel</button>
			</div>
			</div>
			</div>
		</div>
		
		
		
		
		<div id="addBookModal" class="modal " role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
    <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="myModalLabel" class="fontStyle">Add Notebook</h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name" class="fontStyle">Name</label>
					<div class="controls">
						<input type="text" class="form-control modalName fontStyle" id="BookName" placeholder="Enter Notebook Title" style="width:58%;">
						<label id="noteBookWarningId"></label>
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="newAddBook">Add</button>
				<button class="modalBtnPrimary fontStyle" id="cancelModel" data-dismiss="modal">Cancel</button>
			</div>
			</div>
			</div>
		</div>
		
		
		
		<div id="addCalenderListModal" class="modal "  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
    <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="myModalLabel"style="font-family: helvetica neue;">Add New Calendar</h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name" style="font-family: helvetica neue;">Name</label>
					<div class="controls">
						<input type="text" class="form-control modalName" id="calenderName"  style="font-family: helvetica neue;"placeholder="Enter Calendar Title">
						<label id="calenderWarningId" style="font-family: helvetica neue;"></label>
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="newAddCalender">Add</button>
				<button class="modalBtnPrimary fontStyle" id="cancelModel" data-dismiss="modal">Cancel</button>
			</div>
			</div>
			</div>
		</div>
		
		
		
		<div id="addNoteModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" >
    <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="myModalLabel" class="fontStyle">Add New Note</h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" class="form-control noteName" id="NoteName" style="font-family: Helvetica Neue;font-size:14px;width:58%;" placeholder="Enter note title" required>
						<label id="noteWarningId"></label>
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="newNoteAdd">Add</button>
				<button class="modalBtnPrimary fontStyle" id="cancelModel" data-dismiss="modal">Cancel</button>
			</div>
			</div>
			</div>
		</div>
		
		
		
		
		<div id="copyListModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
    <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeCopyListModel">&times;</button>
				<h4 id="myModalLabel">Add To Notebook</h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" class="modalName" id="copyListName" placeholder="Name">
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="copyCreate">Create Book</button>
			</div>
		</div>
		</div>
		</div>
		
		<div id="copyIndiviualModel" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" >
    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="fontStyle">Share copy with Individual(s)</h4>
			</div>
			<div id="modal-copyPreviousMember">
			 <ul id="copyPreviousMember" class="nav nav-pills  nav-stacked"></ul>
			</div>
			<div class="modal-body">
			
				<div >
					<div class="row span">
						<ul id="selectCopyNoteIndiviual" style="font-family: Helvetica Neue;font-size:14px;" class="span"></ul>
					</div>
					<div class="col-md-4">
						<div id="individualcopyDiv" class="" style="font-family: Helvetica Neue; font-size: 14px;font-color: red;"></div>
							<!--<div id="individualcopyDiv1" class="" style="dispaly:none"></div>-->
					</div>
				</div>
				</div>
			
			<div class="modal-footer">
				<a id="copyIndiviual" class="btn btn-success  fontStyle">Send</a>
				<a id="copyCloseIndiviual" class="btn btn-danger js-modal-close fontStyle" role="button" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="copyGroupModel" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" >
    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="fontStyle">Share copy with Group(s)</h4>
			</div>
			<div id="modal-copyPreviousGroup">
			 <ul id="copyPreviousGroup" class="nav nav-pills  nav-stacked"></ul>
			</div>
			<div class="modal-body">
				<div >
					<div class="row span">
						<ul id="selectCopyNoteGroups" style="font-family: Helvetica Neue;font-size:14px;" class="span"></ul>
					</div>
					<div class="col-md-4">
						<div id="groupcopyDiv" class="" style="font-family: Helvetica Neue; font-size: 14px;color:red;"></div>
							<!--<div id="individualcopyDiv1" class="" style="dispaly:none"></div>-->
					</div>
				</div>
			</div>
			
			<div class="modal-footer">
				<a id="copyGroups" class="btn btn-success  fontStyle">Send</a>
				<a id="copyCloseGroups" class="btn btn-danger js-modal-close fontStyle" role="button" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="moveAllNotes" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
    <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="moveAllNotesModel">&times;</button>
				<h4 id="myModalLabel"class="fontStyle" >Move All Notes in Book</h4>
			</div>
			<div class="modalBody">
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="moveNotes" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
        <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="moveNotesModel">&times;</button>
				<h4 id="myModalLabel" class="fontStyle"></h4>
			</div>
			<div class="modalBody">
			</div>
			</div>
			</div>
		</div>
		
		<div id="moreActions" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static"  >
		<div class="modal-dialog modalDialogHeight">
    <div class="modal-content" style="margin-left:-10px;margin-right:-10px;margin-top:-8px;margin-bottom:-13px;height: 100%">
			<div class="modal-header fontStyle">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="moreActionsClose">&times;</button>
			</div>
			<div class="modal-body modalBodyHieght" style="overflow-x:hidden;overflow-y:auto;margin-top:9px;">
			<!--<div id="sideBar" class="col-md-1 fontStyle">
				</div>-->
				<div id="contents" class="col-md-5 fontStyle row">
						<div class="row offset fontStyle" id="tagFilterDiv">
						<ul id="tagFilterUl" class="span"></ul>	
					</div>
				</div>
				
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="memberModel" class="modal " role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
    <div class="modal-content">
			<div class="modal-header fontStyle">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 style=" font-family: helvetica neue;">Share with Individual(s)</h4>
			</div>
			<div id="modal-previousEntry">
			 <ul id="previous" class="nav nav-pills  nav-stacked"></ul>
			</div>
			<div class="modal-body">
				<div >
					<div class="row span">
						<ul id="selectNoteMembers" class="span"></ul>
					</div>
					<div class="col-md-4">
						<div id="shareindiviDiv" class="" style="font-family: Helvetica Neue; font-size: 14px;font-color: red;"></div>
							<!--<div id="individualcopyDiv1" class="" style="dispaly:none"></div>-->
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a id="addMembers" class="btn btn-success fontStyle">Share</a>
				<a id="closeMembers" class="btn btn-danger js-modal-close fontStyle" role="button" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
			</div>
			</div>
		</div>	
		
			
		<div id="shareGroupModel" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="fontStyle">Share with Group(s)</h4>
			</div>
			<div id="modal-previousEntry">
			 <ul id="previousGroup" class="nav nav-pills  nav-stacked"></ul>
			</div>
			<div class="modal-body">
				<div >
					<div class="row span">
						<ul id="selectNoteGroups" style="font-family: Helvetica Neue;font-size:14px;" class="span"></ul>
					</div>
					<div class="col-md-4">
						<div id="sharegropDiv" class="" style="font-family: Helvetica Neue; font-size: 14px;font-color: red;"></div>
							<!--<div id="individualcopyDiv1" class="" style="dispaly:none"></div>-->
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a id="addGroups" class="btn btn-success fontStyle">Share</a>
				<a id="closeGroups" class="btn btn-danger js-modal-close fontStyle" role="button" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="memberModelBook" class="modal">
		<div class="modal-dialog" >
         <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>Share with Individual(s)</h4>
			</div>
			<div id="book-previousEntry">
			 <ul id="previousMember" class="nav nav-pills  nav-stacked"></ul>
			</div>
			<div class="modal-body">
				<div >
					<div class="row span">
						<ul id="selectBookMembers" class="span"></ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a id="addMembersToBook" class="btn btn-success fontStyle">Share</a>
				<a id="closeMembersToBook" class="btn btn-danger js-modal-close fontStyle" role="button" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
			</div>
			</div>
		</div>	
		
		<div id="shareGroupModelBook" class="modal">
		<div class="modal-dialog" >
       <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="fontStyle">Share with Group(s)</h4>
			</div>
			<div id="modalBook-previousEntry">
			 <ul id="previousBookGroup" class="nav nav-pills  nav-stacked"></ul>
			</div>
			<div class="modal-body">
				<div >
					<div class="row span">
						<ul id="selectBookGroups" class="span"></ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a id="addGroupsToBook" class="btn btn-success fontStyle">Share</a>
				<a id="closeGroupsToBook" class="btn btn-danger js-modal-close fontStyle" role="button" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="dueDateModel" class="modal  datepick"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="fontStyle">Due Date</h4>
			</div>
			<div class="modal-body">
			<div class="control-group">
				<div class="" id="dateErrorMsg"></div>
				<div class="form-group">
				<div class="input-group date form_datetime_dueDate" data-date="" data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input2">
                    <input class="form-control" size="16" value="" class="form-control" onkeydown="return keypressnotallowed(event)"  readonly="true" type="text" id="dueDate">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" value="" /><br/>
                </div>
				</div>	
			
				<!-- <div id="dataTimeDiv" class="date-and-time-select">
					<div class="" id="dateErrorMsg"></div>
					<div class="" id="timeErrorMsg"></div>
					<div class="date">
						<p> <strong>Date</strong> </p>
						<input type="text" id="dueDate" />
					</div>
					<div class="time">
						<p> <strong>Time</strong> </p>
						<input type="text" id="dueTime" />
					</div>
				</div> -->
				<div id="notedatepicker"></div>
			</div>
			<div class="modal-footer">
				<a id="saveDueDate" class="btn btn-success fontStyle">Save</a>
				<a id="removeDueDate" class="btn btn-danger fontStyle">Remove</a>
			</div>
			</div>
			</div>
		</div>	
		
		
		
		<div id="attachFileModel" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="width:100%;height:480px;top:1%;bottom:10%;" >
			<div class="modal-dialog">
    		<div class="modal-content" style="margin-left:-11px;margin-right:-11px">
			<div class="modal-header">
				<span class="close js-modal-close" data-dismiss="modal" aria-hidden="true">&times;</span>
				<h4 class="fontStyle">Attach Files</h4>
			</div>
			
			<div class="modal-body" style="overflow:auto;max-height:300px;">
<!-- <div class="borderRadius paddingTopStyle paddingLeftStyle paddingRightStyle paddingBottomStyle" style="background-color: #DDDDDD;max-height: auto;">
<div class="backGroundColor" style=" min-height:200px; max-height: auto;"> -->

<div class="panel-group" id="accordionNote">
    <div class="panel panel-default">
        <div class="panel-heading" data-target="#collapseNoteRecordLesson" data-toggle="collapse" data-parent="#accordionNote">
                <a class="panel-title" data-toggle="collapse" data-parent="#accordionNote" href="#collapseNoteRecordLesson">
                  <h4>
                  Record Video
            </h4>
            </a>
        </div>
        <div id="collapseNoteRecordLesson" class="panel-collapse collapse">
            <div class="panel-body">
               <div class="row">
						<button id="recordNoteVideo">Record Video</button> <br>
					</div>
					 <div class="row" id="uploadNoteDiv">
						<input type="text" id="noteFileName" placeholder="Enter the file name" style="margin-left:10px"/> 
						
						<button id="uploadNoteVideo" >Upload</button>
					</div>
					
					
					<div style="display:none" >
                 <h2>Record your voice!</h2>

                <button id="record-audio" class="btn btn-medium btn-primary fontStyle">Record Audio</button>
                <button id="stop-recording-audio" disabled class="btn btn-medium btn-primary fontStyle">Stop Recording Audio</button>
                 <h2 id="audio-url-preview"></h2>

            </div>
            <br/>
            <br/>
            <div id="simpleModal">
               <!--  <video id="client-video" autoplay loop controls muted></video> -->
				
                <button id="record-video" class="fontStyle" style="margin-bottom: 10px;">Record Video</button>
                <button id="preview-video" class="fontStyle">Close Video</button>
                <button id="stop-recording-video" class="fontStyle" disabled>Stop Recording Video</button>
                 <h5 id="video-url-preview"></h5>
                
            </div>
				
                
				</div>
        </div>
    </div>
	
	<div class="panel panel-default">
        <div class="panel-heading" data-target="#collapseNoteAudioRecord" data-toggle="collapse" data-parent="#accordionNote">
                <a class="panel-title" data-toggle="collapse" data-parent="#accordionNote" href="#collapseNoteAudioRecord">
               	<h4>
               	Record Audio
            </h4>
            </a>
        </div>
        <div id="collapseNoteAudioRecord" class="panel-collapse collapse ">
            <div class="panel-body">
             <div class="row">
						<button id="recordNoteAudio" style="font-family: Helvetica Neue;font-size:14px;margin-left: 10px;margin-top:10px;margin-bottom: 10px;">Record Audio</button> <br>
					</div>
					 <div class="row" id="uploadNoteAudioDiv">
					 
						<input type="text" id="noteAudioFile" value="Untitle" placeholder="Enter the file name" style="margin-left:10px"/>
                        						
						<button id="uploadNoteAudio" >Upload</button>
					</div>
            </div>
        </div>
    </div>
	<div class="panel panel-default">
        <div class="panel-heading" data-target="#collapseNoteFileUpload" data-toggle="collapse" data-parent="#accordionNote">
           <div class="modal" id="uploadmsgModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"
	aria-hidden="true">&times;</button>
<span id="msg-header-span"></span></div>
<div id="uploadmsg-modal-body" class="modal-body span6"><span
	id="uploadmodal-message"></span></div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true"
	id="uploadmsgfooterbtn">Close</button>
</div>
</div>
                <a class="panel-title" data-toggle="collapse" data-parent="#accordionNote" href="#collapseNoteFileUpload">
                 <h4>
                File Upload
                </h4>
                </a>
            
        </div>
        <div id="collapseNoteFileUpload" class="panel-collapse collapse ">
            <div class="panel-body">
             		<div class="row" id="fileuploaddiv" style="display: ;">
					<script src="js/jquery.form.js"></script>
<form id="myForm" method="post" enctype="multipart/form-data" action="">
<input type="file" name="myfile" id="myfile" width="50%" required="" class="fontStyle" style="margin-bottom: 20px;margin-left: 10px;">
<button type="submit" class="btn btn-primary start fontStyle" style="margin-left: 10px;><i
class="glyphicon glyphicon-upload white"></i> <span>Upload</span></button>
</form>
<div id="progress" style="display: none">
<div id="bar"></div>
<div id="percent" style="margin-left:18px">0%</div>
</div>
						
</div>
		
            </div>
        </div>
    </div>
    
    
    
    <div class="panel panel-default">
        <div class="panel-heading" data-target="#collapseViewNoteLesson" data-toggle="collapse" data-parent="#accordionNote">
                <a  class="panel-title" data-toggle="collapse" data-parent="#accordionNote" href="#collapseViewNoteLesson">
                 <h4>
                  My Recordings
                  </h4>
                </a>
        </div>
        <div id="collapseViewNoteLesson" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row">
						<div id="viewNoteRecordedLessonDiv">
							
							<ul class="nav nav-pills  nav-stacked" id="viewNoteRecordedLesson" >
								
							</ul>
						</div>
					</div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
	
        <div class="panel-heading" data-target="#collapseUploadedFiles" data-toggle="collapse" data-parent="#accordionNote">
               <a class="panel-title" class="accordion-toggle fontStyle" data-toggle="collapse" data-parent="#accordionNote" href="#collapseUploadedFiles" id="getAttachedFiles">
               <h4>
					Attached Files
								</h4>
							</a>
        </div>
        <div id="collapseUploadedFiles" class="panel-collapse collapse ">
            <div class="panel-body">
               <div class="row-fluid">
									<div id="viewUploadedFilesDiv">
										<ul class="nav nav-pills  nav-stacked fontStyle" id="viewUploadedFiles" >
											
										</ul>
									</div>
								</div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading" data-target="#collapseNoteOtherFiles" data-toggle="collapse" data-parent="#accordionNote">
                <a class="panel-title" data-toggle="collapse" data-parent="#accordionNote" href="#collapseNoteOtherFiles">
                 <h4>
                 Uploaded Files
                  </h4>
                </a>
        </div>
        <div id="collapseNoteOtherFiles" class="panel-collapse collapse ">
            <div class="panel-body">
              <div class="row">
						<div id="viewOtherFilesDiv">
							<ul class="nav nav-pills  nav-stacked" id="viewOtherFiles" >
								
							</ul>
						</div>
					</div>
            </div>
        </div>
    </div>
</div>
</div>
	<div id="RecordConformModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
          <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="recordConformcloseModel">&times;</button>
				<h4></h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name">Are you sure you want to upload this video?</label>
					
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn" id="recordConformYes" style="font-family: Helvetica Neue;font-size:14px;" onclick="conformVideoOk()">Yes</button>
				<button class="modalBtn" id="recordConformNo"  style="font-family: Helvetica Neue;font-size:14px;" onclick="conformVideoNo()">No</button>
			</div>
			</div>
			</div>
		</div>
			








			


		
		

		
		
		
	
	
<!-- <script type="text/javascript" charset="utf-8" src="js/models/recordLessonModel.js"></script> -->
<!--For IOS -->
<script type="text/javascript" charset="utf-8">
function conformVideoOk()
{
	$('#uploadNoteDiv').removeAttr('style');
    $('#noteFileName').val("");
    $('#RecordConformModal').modal('hide');
}
function conformVideoNo()
{
	$('#RecordConformModal').modal('hide');
}
    $(document).ready( function() {
        if(isIphone)
        {
        	
        	$('#recordNoteVideo').attr('style','display : block;margin-left:10px');
       	    $("#simpleModal").attr('style','display : none');
     	
        }
        else if(isAndroid)
        {
        	
        	$('#recordNoteVideo').attr('style','display : block');
        	 $("#simpleModal").attr('style','display : none');
        }
        else
        {
        	
        	$('#recordNoteVideo').attr('style','display : none');
        	 $("#simpleModal").attr('style','display : block');
        }
                      
                      $('#uploadNoteDiv').attr('style','display : none');
					  $('#uploadNoteAudioDiv').attr('style','display : none');
                      $('#recordNoteVideo').click(function(){
                                            noteCaptureVideo();
                                            });
					$('#recordNoteAudio').click(function(){
                                              noteCaptureAudio();
                                              });						  
                      $('#uploadNoteVideo').click(function(){
                    
                                              uploadNoteVideo();
                                              });
                                              
                   $('#uploadNoteAudio').click(function(){
                          uploadNoteAudio();
                        });
                     
                      });
					  
    
   
   var noteVideoFiles;
    
    // Called when capture operation is finished
    function videoCaptureSuccess(mediaFiles) {
        noteVideoFiles=mediaFiles;
        /* $('#uploadNoteDiv').removeAttr('style');
        $('#noteFileName').val(""); */
        $('#RecordConformModal').modal('show');
      
    }
    
    function uploadNoteVideo()
    {
	
        var i, len;
        for (i = 0, len = noteVideoFiles.length; i < len; i += 1) {
            noteVideoFiles[i].name=$('#noteFileName').val()+".mov";
            uploadFile(noteVideoFiles[i]);
        }
		
    }
    
    // Called if something bad happens.
     function videoCaptureError(error) {
        var msg = 'An error occurred during capture: ' + error.code;
       
    }
    
    // A button will call this function
     function noteCaptureVideo() {
        // Launch device video recording application,
         navigator.device.capture.captureVideo(videoCaptureSuccess, videoCaptureError);
     }
    
    // Upload files to server
    function uploadFile(mediaFile) {
        var ft = new FileTransfer(),
        path = mediaFile.fullPath,
        name = mediaFile.name;
        
        ft.upload(path,
                   urlForServer+"Upload/noteVideoFiles/"+userId+"/"+listIds+"/"+noteIds+"/video"+"/"+musicnote,
                  function(result) {
                  console.log('Upload success: ' + result.responseCode);
                  console.log(result.bytesSent + ' bytes sent');
                  navigator.notification.alert('Video uploaded successfully', null, 'Success');
                  $('#noteFileName').val("");
                  $('#uploadNoteDiv').attr('style','display : none');
				  
				   reLoadList();
				  
                  },
                  function(error) {
                  console.log('Error uploading file ' + path + ': ' + error.code);
				  navigator.notification.alert('Error occurred while uploading,Please try again now');
				  $('#uploadNoteDiv').attr('style','display : block');
                  },
                  { fileName: name });
    }
	
	
	  // Audio Recording 
	var noteAudioFiles;
    function NoteSuccess(mediaFiles) {
	    noteAudioFiles=mediaFiles;
         $('#uploadNoteAudioDiv').attr('style','display : block');
         $('#noteAudioFile').val("");
		
    }
function uploadNoteAudio()
{


       var i, len;
        for (i = 0, len = noteAudioFiles.length; i < len; i += 1) {
            noteAudioFiles[i].name=$('#noteAudioFile').val()+".amr";
            uploadNoteAudioFile(noteAudioFiles[i]);
        }
		
}
    // Called if something bad happens.
      function NoteError(error) {
        var msg = 'An error occurred during capture: ' + error.code;
       }

    // A button will call this function
      function noteCaptureAudio() {
        // Launch device audio recording application, 
        navigator.device.capture.captureAudio(NoteSuccess, NoteError);
    }

    // Upload files to server
    function uploadNoteAudioFile(mediaFile) {
   
        var ft = new FileTransfer(),
            path = mediaFile.fullPath,
            name = mediaFile.name;
		
		
        ft.upload(path,
            urlForServer+"Upload/noteAndroidAudioUpload/"+userId+"/"+listIds+"/"+noteIds+"/audio"+"/"+musicnote,
            function(result) {
            console.log('Upload success: ' + result.responseCode);
           
                  console.log(result.bytesSent + ' bytes sent');
                  navigator.notification.alert('Audio uploaded successfully', null, 'Success');
                  $('#noteAudioFile').val(""); 
                  $('#uploadNoteAudioDiv').attr('style','display : none');
				 reLoadList();
				  
            },
            function(error) {
                console.log('Error uploading file ' + path + ': ' + error.code);
				navigator.notification.alert('Error occurred while uploading,Please try again now');

				 $('#uploadNoteAudioDiv').attr('style','display : block');
            },
            { fileName: mediaFile.name });  
    }
	
	
	
</script>
				
			<div class="modal-footer">
				<a id="attachFile" class="btn btn-success fontStyle" ><span class="glyphicon glyphicon-share white"/>  Attach</a>
				<a class="btn btn-danger js-modal-close fontStyle" role="button" data-dismiss="modal" aria-hidden="true">Close</a>
			</div>
			</div>
			</div>
		</div>	
		
		
		
			<div id="shareAllContactModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
			<div class="modal-dialog" >
    <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="myModalLabel" class="fontStyle">Confirmation </h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label id="allContact" class="control-label fontStyle" for="name"></label>
					
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="memAllConYes">Yes</button>
				<button class="modalBtnPrimary js-modal-close fontStyle" id="memAllConNo" data-dismiss="modal" aria-hidden="true">No</button>
			</div>
		</div></div></div>
		
		
		
		<div id="shareAllContactDelModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
    <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="myModalLabel">Confirmation </h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name">Are you sure you want to unshare this note with all contacts?</label>
					
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="memAllConDelYes" >Yes</button>
				<button class="modalBtnPrimary js-modal-close fontStyle" id="memAllConDelNo" data-dismiss="modal" aria-hidden="true">No</button>
			</div>
			</div>
			</div>
		</div>
		
		<div id="copyToContactModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
         <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="mysModalLabel" class="fontStyle">Confirmation </h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label fontStyle" for="name">Are you sure you want to share a copy of this note with all contacts?</label>
					
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="copAllConYes">With Comments</button>
				<button class="modalBtnPrimary js-modal-close fontStyle" id="copAllConNo" data-dismiss="modal" aria-hidden="true">Without Comments</button>
			</div>
			</div>
			</div>
		</div>
		
		<div id="copyBookToContactModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" >
        <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="mysModalLabel">Confirmation </h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name">Are you sure want to Share this List to your contact Members?</label>
					
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="bookAllConYes">Yes</button>
				<button class="modalBtnPrimary js-modal-close fontStyle" id="bookAllConNo" data-dismiss="modal" aria-hidden="true">No</button>
			</div>
			</div>
			</div>
		</div>
		
		<div id="commentsDeletModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
        <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="commentsDeletLabel">Delete Comment </h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name">Are you sure to delete this comment?</label>
					
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="commentsDeletYes" style="font-family: Helvetica Neue;font-size:14px;">Yes</button>
				<button class="modalBtn fontStyle" id="commentsDeletNo" style="font-family: Helvetica Neue;font-size:14px;">No</button>
			</div>
			</div>
			</div>
		</div>
		
		<div id="copyBookToContactDel" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" >
         <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="mysModalLabel">Confirmation </h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name">Are you sure you want to unshare this note with all contacts?</label>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="bookAllConDelYes">Yes</button>
				<button class="modalBtnPrimary js-modal-close fontStyle" id="bookAllDelConNo" data-dismiss="modal" aria-hidden="true">No</button>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="viewPdfModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
          <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="">&times;</button>
				<h4 id="mysModalLabel">PDF Viewer </h4>
			</div>
			<div class="modalBody">
				
			</div>
			<div class="modalFooter">
				
				<button class="btn btn-primary fontStyle"  data-dismiss="modal" aria-hidden="true">ok</button>
			</div>
			</div>
			</div>
		</div>
		
		<div id="scheduleEnable" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
         <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="myModalLabel">Confirmation </h4>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name">Are you sure want to Enable this List?</label>
					
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="enableYes">Yes</button>
				<button class="modalBtnPrimary js-modal-close fontStyle" id="enableNo" data-dismiss="modal" aria-hidden="true">No</button>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="addScheduleModel" class="modal  datePickPosition"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="width: 100%; height:480px; top: 1%;bottom:10%">
		<div class="modal-dialog" >
          <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="mysModalLabel" style="font-family: helvetica neue;">Add Event</h4>
			</div>
			
			<div class="modalBody" style="font-family: helvetica neue;max-height:300px;">
				<div class="form-group">
				<div class="form-group">
					   <label class="control-label" for="name" style="font-family: Helvetica Neue;">Event name</label>
						<input type="text"  id="scheduleNoteName" style="font-family: Helvetica Neue;" class="form-control modalName"  placeholder="Event name" required />
						<div class="" id="scheduleNoteNames" style="dispaly:none"></div>
						</div>
					<label class="control-label" style="font-family: Helvetica Neue;">Description</label>
						<textarea id="scheduleNoteDetail" style="font-family: Helvetica Neue;" class="form-control modalName" placeholder="Event description" required >
						</textarea>
						<div class="" id="scheduleNoteDetails" style="dispaly:none"></div>
					<label class="control-label" style="font-family: Helvetica Neue;">Location</label>
						<input type="text"  id="scheduleLocation" style="font-family: Helvetica Neue;" class="form-control modalName"  placeholder="Location" required />
						<div class="" id="scheduleLocationDetail" style="dispaly:none"></div>	
					<label class="control-label" style="font-family: Helvetica Neue;">All day Event &nbsp; <input type="checkbox" class="" style="font-family: Helvetica Neue;"  name="alldayevent" value="alldayevent" id="alldayevent" onclick="javascript:checkAllDay();" ></label><br>
						              		
						
						
						
						<label class="control-label" style="font-family: Helvetica Neue;">Start</label>      
						<div class="input-group date form_date_auto " id="estartDate"  data-date-format="M/dd/yyyy" data-link-field="dtp_input1">
                    <input class="form-control" size="16" type="text"  readonly="true" value="" id="eventStartDate">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <div class="input-group date from_datetime_auto " id="estartDateTime" data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input1">
                    <input class="form-control" size="16"  readonly="true" type="text" value="" id="eventStartTime">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                		
                	<div class="" id="eventStartTimes" style="dispaly:none"></div>
                   
						<label class="control-label" style="font-family: Helvetica Neue;">End</label>
					<div class="input-group date end_date " id="eendDate"  data-date-format="M/dd/yyyy" data-link-field="dtp_input1">
                    <input class="form-control"  readonly="true" size="16" type="text" value="" id="eventEndDate">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <div class="input-group date end_datetime " id="eendDateTime" data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input1" >
                    <input class="form-control" size="16"  readonly="true" type="text" value="" id="eventEndTime">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                		
                <div class="" id="eventEndTimes" style="dispaly:none"></div>
                <div class="" id="eventBetweenDate" style="dispaly:none"></div>
                 <div class="" id="eventRepeatEventwarning" style="dispaly:none"></div>
                 
                 
                 <label class="control-label" style="font-family: Helvetica Neue;">Repeat</label>
                    		<select id="repeatEventId" class="form-control" style="font-family: Helvetica Neue;">
                    		<option value="--Select Repeat--" style="font-family: Helvetica Neue;">--Select Repeat--</option>
                    		<option value="Daily" style="font-family: Helvetica Neue;">Daily</option>
                    		<option value="Weekly" style="font-family: Helvetica Neue;">Weekly</option>
                    		<option value="Monthly" style="font-family: Helvetica Neue;">Monthly</option>
                    		</select>
                    		
                    	<div id="eventRepeatEndDate" style="display:none">	
                    	<label class="control-label" style="font-family: Helvetica Neue;">Repeat Until</label>
                    	
                    	<div class="input-group date repeat_date_auto " data-date="" data-date-format="M/dd/yyyy" data-link-field="dtp_input2"  id="eventRepeatsDate">
                    <input class="form-control" size="16" type="text" value="" readonly="true" id="eventRepeatDate" class="input-block-level" required onkeydown="return keypressnotallowed(event)">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
						
                		<div class="" id="eventRepeatDateWarningMsg" style="dispaly:none"></div>
                		</div>
                		<div id="eventMailCheckbox" style="display:none;">
                		<input type="checkbox" name="sendEventMailCheckbox" value="checked" id="sendEventMailCheckbox" ><font style="font-family: Helvetica Neue;">&nbsp&nbsp&nbsp&nbspSend E-mail.</font>
                		</div>
				</div>
				
			</div>
			<div class="modalFooter" style="font-family: helvetica neue;">
				<button class="btn btn-medium btn-primary fontStyle" id="addScheduleNote" style="font-family: Helvetica Neue;font-size:14px;">Add</button>
				<a class="btn btn-medium btn-danger fontStyle" id="cancelScheduleNote">Cancel</a>
			</div>
			</div>
			</div>
		
		</div>
		
		<div id="editScheduleModel" class="modal  datePickPosition"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static"  style="width: 100%; height:480px; top: 1%;bottom:10%;>
		<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="editModalLabel">Edit Event</h4>
			</div>
			
			<div class="modalBody" style="max-height:300px;">
				<div class="form-group">
					<label class="control-label" id="eventID" for="name" style="font-family: Helvetica Neue;">Schedule Note</label>
						<input type="text"  id="editscheduleNoteName" class="form-control modalName" style="font-family: Helvetica Neue;" placeholder="Name" required />
							<div class="" id="editscheduleNoteNames" style="dispaly:none"></div>
					<label class="control-label" style="font-family: Helvetica Neue;">Description</label>
						<textarea  class="form-control modalName" style="font-family: Helvetica Neue;" id="editscheduleNoteDetail" required >
						</textarea>
					<div class="" id="editscheduleNoteDetails" style="dispaly:none"></div>	
					<label class="control-label" style="font-family: Helvetica Neue;">Location</label>
						<input type="text"  style="font-family: Helvetica Neue;" id="editScheduleLocation" class="form-control modalName"  placeholder="Location" required />
						<div class="" id="editScheduleLocationDetail" style="dispaly:none"></div>	
					<label class="control-label" style="font-family: Helvetica Neue;">All day Event &nbsp; <input type="checkbox" class="" style="font-family: Helvetica Neue;" name="alldayevent" value="alldayevent" id="editalldayevent" onclick="javascript:checkEditAllDay();" ></label><br>
					
					
						
						
						<label class="control-label" style="font-family: Helvetica Neue;">Start</label>
						<div class="input-group date from_datetime_auto " id="editstartTime" data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input1">
                    <input class="form-control"  readonly="true" size="16" type="text" value="" id="editeventStartTime">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
						
						<div class="input-group date form_date_auto col-md-5" data-date="" data-date-format="M/dd/yyyy" data-link-field="dtp_input2" id="editstartDate" style="display:none;">
                    <input class="form-control"  readonly="true" size="16" type="text" value="" id="editeventStartDate" class="input-block-level" required onkeydown="return keypressnotallowed(event)" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                
                		<div class="" id="editeventStartTimes" style="dispaly:none"></div>	
						<label class="control-label" style="font-family: Helvetica Neue;">End</label>
					
						<div class="input-group date end_datetime " data-date="" data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input2" id="editendTime">
                    <input class="form-control" size="16"  readonly="true" type="text" value="" id="editeventEndTime"  onkeydown="return keypressnotallowed(event)" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
						
						<div class="input-group date end_date col-md-5" data-date="" data-date-format="M/dd/yyyy" data-link-field="dtp_input2" id="editendDate"  style="display:none;">
                    <input class="form-control"  readonly="true" size="16" type="text" value="" id="editeventEndDate" class="input-block-level" required onkeydown="return keypressnotallowed(event)" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                		
               			 	<div class="" id="editeventEndTimes" style="dispaly:none"></div>
               			 	<div class="" id="editeventBetweenDate" style="dispaly:none"></div>	
               			 	 <div class="" id="editEventRepeatEventwarning" style="dispaly:none"></div>	
               			 	 
               			 	 <label class="control-label" style="font-family: Helvetica Neue;">Repeat</label>
                    		<select id="editRepeatEventId" class="form-control modalName" style="font-family: Helvetica Neue;">
                    		<option value="--Select Repeat--" style="font-family: Helvetica Neue;">--Select Repeat--</option>
                    		<option value="Daily" style="font-family: Helvetica Neue;">Daily</option>
                    		<option value="Weekly" style="font-family: Helvetica Neue;">Weekly</option>
                    		<option value="Monthly" style="font-family: Helvetica Neue;">Monthly</option>
                    		</select>
                    		
                    	<div id="editEventRepeatEndDate" style="display:none">	
                    	<label class="control-label" style="font-family: Helvetica Neue;">Repeat Until</label>
                    	<div class="input-group date repeat_date_auto" data-date="" data-date-format="M/dd/yyyy" data-link-field="dtp_input2"  id="editEventRepeatsDate">
                    <input class="form-control" size="16" type="text" value=""  readonly="true" id="editEventRepeatDate" class="input-block-level" required onkeydown="return keypressnotallowed(event)">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
						
                		<div class="" id="editEventRepeatDateWarningMsg" style="dispaly:none"></div>	
                		</div>
                		<div id="editEventMailCheckbox" style="display:none;">
                		<input type="checkbox" name="sendEditEventMailCheckbox" value="checked" id="sendEditEventMailCheckbox"><font style="font-family: Helvetica Neue;">&nbsp&nbsp&nbsp&nbspSend E-mail.</font>
                		</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="btn btn-medium btn-primary fontStyle" id="editScheduleNote" style="font-family: Helvetica Neue;font-size:14px;">Update</button>
				<a class="js-modal-close btn btn-medium btn-danger fontStyle" data-dismiss="modal" aria-hidden="true" id="editcancelScheduleNote">Cancel</a>
				
			</div>
			</div>
			</div>
			
		</div>
		
		
		<!-- Added by Veeraprathaban For schedule event edit  -->
		
		<div id="editSubEvent" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
          <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="editModalLabel" style="font-family: Helvetica Neue;">Edit Event</h4>
			</div>
			<div class="modalBody" style="max-height:300px;">
				<div class="control-group">
					<label class="control-label" id="eventID" for="name" style="font-family: Helvetica Neue;">Event Name</label>
						<input type="text"  id="editSubEventName" class="form-control modalName" style="font-family: Helvetica Neue;" placeholder="Name" required />
							<div class="" id="editSubEventNames" style="dispaly:none"></div>
					<label class="control-label" style="font-family: Helvetica Neue;">Description</label>
						<textarea class="form-control" style="font-family: Helvetica Neue;" id="editSubEventDescription" required >
						</textarea>
					<div class="" id="editSubEventDescriptions" style="dispaly:none"></div>	
					<label class="control-label" style="font-family: Helvetica Neue;">Location</label>
						<input type="text"  style="font-family: Helvetica Neue;" id="editSubEventLocation" class="form-control modalName"  placeholder="Location" required />
						<div class="" id="editSubEventLocations" style="dispaly:none"></div>	
					<label class="control-label" style="font-family: Helvetica Neue;">All day Event &nbsp; <input type="checkbox" style="font-family: Helvetica Neue;" name="editSubEventAllDay" value="editSubEventAllDay" id="editSubEventAllDay" onclick="javascript:checkEditAllDay();" ></label>
											
						<label class="control-label" style="font-family: Helvetica Neue;">Start</label>
						<div class="input-group date from_datetime_auto" data-date="" data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input2" id="editSubStartTime" >
                    <input class="form-control" size="16" type="text" value="" id="editSubEventStartTime" onkeydown="return keypressnotallowed(event)">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
						
						<div class="input-group date form_date_auto" data-date="" data-date-format="M/dd/yyyy" data-link-field="dtp_input2"  id="editSubStartDate" style="display:none;">
                    <input class="form-control" size="16" type="text" value="" id="editSubEventStartDate" class="input-block-level" required onkeydown="return keypressnotallowed(event)" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
						
                		
                		<div class="" id="editSubEventStartTimes" style="dispaly:none"></div>	
						<label class="control-label" style="font-family: Helvetica Neue;">End</label>
						
						<div class="input-group date end_datetime " data-date="" data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input2"  id="editSubEndTime">
                    <input class="form-control" size="16" type="text" value="" id="editSubEventEndTime"   onkeydown="return keypressnotallowed(event)"  >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
					
						<div class="input-group date end_date" data-date="" data-date-format="M/dd/yyyy" data-link-field="dtp_input2" id="editSubEndDate"  style="display:none;">
                    <input class="form-control" size="16" type="text" value=""  id="editSubEventEndDate" class="input-block-level" required onkeydown="return keypressnotallowed(event)">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                		
               			 	<div class="" id="editSubEventTimes" style="dispaly:none"></div>
               			 	<div class="" id="editSubEventBetweenDate" style="dispaly:none"></div>	
               			 	 <div class="" id="editSubEventRepeatEventwarning" style="dispaly:none"></div>	
                		<div id="editSubEventMailCheckbox" style="display:none;">
                		<input type="checkbox" name="editSubEventMailCheckbox" value="checked" id="editSubEventMailCheckbox"><font style="font-family: Helvetica Neue;">&nbsp&nbsp&nbsp&nbspSend E-mail.</font>
                		</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="btn btn-medium btn-primary fontStyle fontStyle" id="editSubEventSubmit" >Update</button>
				<a class="js-modal-close btn btn-medium btn-danger fontStyle" data-dismiss="modal" aria-hidden="true" id="editSubEventCancel">Cancel</a>
				
			</div>
			</div>
			</div>
			
		</div>
		
		
		<div id="editSubEventModel" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
           <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="editModalLabel" style="font-family: Helvetica Neue;">Edit Event</h4>
			</div>
			<div class="modalBody" style="max-height:300px;">
					<div class="row">
					<div class="col-md-1" style="FONT-WEIGHT: bold; font-family: Helvetica Neue;">Title</div>
					<div class="col-md-5" id="editViewSubEventName" style="font-family: Helvetica Neue;"></div>
					</div>
					<div class="row">
				
					<div class="col-md-1" style="FONT-WEIGHT: bold; font-family: Helvetica Neue;">Start</div>
					<div class="col-md-5" id="editViewSubEventStart" style="font-family: Helvetica Neue;"></div>
					</div>
					<div class="row">
					<div class="col-md-1" style="FONT-WEIGHT: bold; font-family: Helvetica Neue;">End</div>
					<div class="col-md-5" id="editViewSubEventEnd" style="font-family: Helvetica Neue;"></div>
					</div>
					<div class="row">
					<div class="col-md-1" style="FONT-WEIGHT: bold; font-family: Helvetica Neue;"> All day</div>
					<div class="col-md-5" id="editViewSubEventAllDay" style="font-family: Helvetica Neue;"></div>
					</div>
					<br/>
					<div><b><a id="editSubEventClick" style="COLOR: #0080c0; font-family: Helvetica Neue;height:18px;float:left;">Edit event</a></b></div>
					<!-- <b><a id="deleteSubEventClick" style="COLOR: #0080c0; font-family: Helvetica Neue;height:18px;float:right;">Delete</a></b> -->
				
			</div>
			</div>
			</div>
			
			
		</div>
		<!-- End  Veeraprathaban  schedule event edit changes -->
		
		
		<div id="viewScheduleModel" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
          <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="mysModalLabel">View Schedule Note</h4>
			</div>
			<div class="modalBody" style="max-height:300px;">
			<div class="control-group">
			
			<label  style="FONT-WEIGHT:bold;">Event Title  </label><br>
			<label id="viewScheduleTitle"style="font-family: Helvetica Neue;font-weight:normal;"></label><br>
			
		
			<label  style="FONT-WEIGHT:bold;">Description </label><br>
			<label id="viewScheduleDesc"style="font-family: Helvetica Neue;font-weight:normal;"></label><br>
			
			<label  style="FONT-WEIGHT:bold;">Location  </label><br>
			<label id="viewScheduleLocation"style="font-family: Helvetica Neue;font-weight:normal;"></label><br>
			
			<label  style="FONT-WEIGHT:bold;">All Day  </label><br>
			<label id="viewScheduleAllDay"style="font-family: Helvetica Neue;font-weight:normal;"></label><br>
			
			<label  style="FONT-WEIGHT:bold;">Start</label><br>
			<label id="viewScheduleStart"style="font-family: Helvetica Neue;font-weight:normal;"></label><br>
			
			<label  style="FONT-WEIGHT:bold;">End</label><br>
			<label id="viewScheduleEnd"style="font-family: Helvetica Neue;font-weight:normal;"></label><br>
		
			<label  style="FONT-WEIGHT:bold;">Repeat Event</label><br>
			<label id="viewScheduleRepeatEvent"style="font-family: Helvetica Neue;font-weight:normal;"></label><br>
			
			<label  style="FONT-WEIGHT:bold;">Repeat Until</label><br>
			<label id="viewScheduleRepeatEnd"style="font-family: Helvetica Neue;font-weight:normal;"></label><br>
			</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="okviewevent">OK</button>
			</div>
			</div>
			</div>
		</div>
		
		
		
			<div id="dialogcopy" title="Confirmation" style="display: none;">
			</div> 
			
			<div id="createTagModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
			<div class="modal-dialog" >
             <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h3 id="myModalLabel">Add Tag</h3>
			</div>
			<div class="modalBody">
				<div class="control-group">
				
				<div class="" id="errormsg"></div>
					<label class="control-label" for="name">Name</label> 
					<div class="controls">
						<input type="text" class="modalName col-md-7" id="tagName" placeholder="Name">
						<label id="tagWarningId"></label>
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="addTag">Add</button>
				<button class="modalBtnPrimary fontStyle" id="cancelTag" data-dismiss="modal" >Cancel</button>
			</div>
			</div>
			</div>
			    
		</div>
		
		
		
		<div id="updateTagModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
         <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h3 id="myModalLabel">Update Tag</h3>
			</div>
			<div class="modalBody">
				<div class="control-group">
				<div class="" id="errormsg1"></div>
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" class="modalName col-md-7" id="updateTagName" placeholder="Name">
						<label id="tagWarningIdEdit"></label>
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="editTag">Update</button>
				<button class="modalBtnPrimary fontStyle" id="updateTagModel" data-dismiss="modal" >Cancel</button>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="deleteTagModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
        <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabel">Warning</h4>
				
				<h4 class="alert-heading">Sure you want to delete this Tag ?</h4>
               <p>by deleting the tag the notes all associated with this tag will be removed automatically</p>
            <p>
              <a href="#" class="btn btn-danger fontStyle" id="deleteTag" >Delete <i class="glyphicon glyphicon-trash white"></i></a> <a href="#" class="btn btn-default fontStyle" data-dismiss="modal">Cancel</a>
            </p>
			</div>
			</div>
			</div>
			
			
		</div>
		
		
		
		<div id="addRemainderModal" class="modal datepick"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
    <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h3 id="myModalLabel" class="fontStyle">Add Reminder</h3>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label fontStyle" for="name">Details </label>
					<textarea style="max-height : 40px; margin: 0 0 5px 1px; " type="text" class="form-control fontStyle modalName-text col-md-2" id="remainderName" placeholder="Reminder details" required/>			

					</div>
					<div class="control-group">
					<label class="control-label fontStyle" >Event date</label>
					
							<div class="input-group date form_datetime"  data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input1" style="">
                    <input class="form-control" size="16" type="text"  readonly="true" value="" id="eventStartDate1" onkeydown="return keypressnotallowed(event)">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                </div>
					<div class="control-group">
				<input type="hidden" id="dtp_input1" value="" /><br/>
						
					<div style="min-height:30px;font-family: Helvetica Neue;display:none;" id="ReminderMailCheckbox">
						
						<input id="sendReminderMailCheckbox" type="checkbox" value="checked" name="sendReminderMailCheckbox">
						Send E-mail.
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="btn btn-success fontStyle" id="addRemain">Add</button>
				<button class="btn btn-info fontStyle" id="cancelRemain" data-dismiss="modal" >Cancel</button>
			</div>
			</div>
			</div>
		</div>	


		
		<div id="updateRemainderModal" class="modal  datepick"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static"  >
		<div class="modal-dialog" >
        <div class="modal-content">
			<div class="modalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h3 id="myModalLabel">Update Reminder</h3>
			</div>
			<div class="modalBody">
				<div class="control-group">
					<label class="control-label" for="name">Name </label>
					<textarea type="text" class="form-control modalName-text col-md-2" id="updateRemainderName" placeholder="Name" style="max-height : 40px;  margin: 0 0 5px 1px;font-family: Helvetica Neue;" required />
				</div>
					<div class="control-group">	
					<label class="control-label" >Event date</label>
					<div class="input-group date form_datetime"  data-date-format="M/dd/yyyy HH:ii P" data-link-field="dtp_input1"style="">
                    <input class="form-control" size="16" type="text" value=""  readonly="true" id="updateStartDate" class="input-block-level" onkeydown="return keypressnotallowed(event)">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                </div>
					<div class="control-group">
				<input type="hidden" id="dtp_input1" value="" /><br/>
					<div style="min-height:30px;display:none;" id="EditReminderMailCheckbox">
						
						<input id="sendEditReminderMailCheckbox" type="checkbox" value="checked" name="sendEditReminderMailCheckbox">
						Send E-mail.
					</div>
				</div>
			</div>
			<div class="modalFooter">
				<button class="btn btn-success fontStyle" id="editRemaind" title="Update the reminder">Update</button>
				<button class="btn remaindIconDelete btn-danger fontStyle" id="deleteRemaind" title="Remove the reminder">Remove</button>
				<button class="btn btn-info fontStyle" id="cancleUpdateRemaind" data-dismiss="modal" >Cancel</button>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="deleteRemainderModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" ><div class="modal-dialog" >
       <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabel"></h4>
				
				<h4 class="alert-heading fontStyle">Are you sure you want to delete this reminder?</h4>
            <p>
              <a class="btn btn-danger fontStyle" id="deleteRemain" >Delete <i class="glyphicon glyphicon-trash white"></i></a> <a class="btn btn-default fontStyle" data-dismiss="modal">Cancel</a>
            </p>
			</div>
			</div>
			</div>
		</div>
		
		<div class="modal " id="moveCopyWarning"  role="dialog"	aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" >
        <div class="modal-content">
			<div class="modal-header" style="position: relative; height:15px;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<span id="move-msg-header-col-md-1"></span>
			</div>
			<div id="move-msg-modal-body1" style="" class="modal-body col-md-6" >
				<span id="move-modal-message1"></span>
			</div>
			<div class="modal-footer" style="height:25px;">
				<button class="btn btn-default fontStyle" data-dismiss="modal" aria-hidden="true" id="move-msgfooterbtn1" style="margin-top:-20px">Close</button>
			</div>
			</div>
			</div>
		</div>
		
		<div id="shareWarning" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" >
    <div class="modal-content">
			<div class="modalHeader ">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabelnote" class="share-note-warn fontStyle"></h4>
            	<p><span class="col-md-4"></span>
              	<span></span><a  class="btn btn-default js-share" value="view">View only</a> <a class="btn btn-default js-share" value="edit" data-dismiss="modal">View & Edit</a></span>
            	</p>
			</div>
			</div>
			</div>
		</div>
		
		
		
		<div id="shareBookWarning" class="modal "  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
         <div class="modal-content">
			<div class="modalHeader ">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabelbook" class="share-book-warn"></h4>
				
            	<p><span class="col-md-4"></span>
              	<span><a  class="btn btn-default js-share-book" value="view" >View only </a> <a class="btn btn-default js-share-book" value="edit" data-dismiss="modal">View & Edit</a></span>
            	</p>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="deleteBookModal" class="modal "  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" >
         <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabel">Warning</h4>
				<h4 class="alert-heading delete-Book-warn"></h4>
            	<p>
              	<a  class="btn btn-danger js-delete-list" id="bookDelete" >Delete <i class="glyphicon glyphicon-trash white"></i></a> <a class="btn btn-default" data-dismiss="modal">Cancel</a>
            	</p>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="deleteAttachedModal" class="modal "  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
        <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabel">Warning </h4>
				<h4 class="alert-heading delete-Attach-warn"></h4>
            	<p>
              	<a  class="btn btn-danger js-delete-Attach" id="bookAttached" >Delete <i class="glyphicon glyphicon-trash white"></i></a> <a class="btn btn-default" data-dismiss="modal">Cancel</a>
            	</p>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="deleteNoteModal" class="modal "  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
       <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 class="alert-heading delete-Note-warn"></h4>
            	<p>
              	<a  class="btn btn-danger js-delete-note" id="noteDelete" >Delete <i class="glyphicon glyphicon-trash white"></i></a> <a class="btn btn-default" data-dismiss="modal">Cancel</a>
            	</p>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="deleteAllNoteModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		 <div class="modal-dialog" >
          <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabel">Warning</h4>
				<h4 class="alert-heading delete-All-warn"></h4>
            	<p>
              	<a  class="btn btn-danger js-delete-allNote" id="allNoteDelete" >Delete <i class="glyphicon glyphicon-trash white"></i></a> <a class="btn btn-default" data-dismiss="modal">Cancel</a>
            	</p>
			</div>
			</div>
			</div>
		</div>
		
		
		<div id="NotePublicShareModal" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" >
         <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closePubliShareModel">&times;</button>
				<h4 class="alert-heading Note-publicshare-warn fontStyle"></h4>
				<div style="min-height:30px;">
				<input type="checkbox" name="publicShareWarnCheckbox" value="checked" id="publicShareWarnCheckbox" class="fontStyle">&nbsp;Do not show this message again.
				</div>
            	<p>
              	<a  class="btn btn-success js-publicshare-note fontStyle" id="publicShareNote" >Yes</a> <a class="btn btn-danger fontStyle" data-dismiss="modal">No</a>
            	</p>
			</div>
			</div>
			</div>
		</div>
		
		<div id="overLappingSubEventModal" class="modal " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
		<div class="modal-dialog" >
        <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;">Edit recurring event</h4>
				<h4 class="alert-heading"  style="font-family: Helvetica Neue;">Would you like to change only this event or  all events in the series ?</h4>
            	<p>
              	<a  class="btn btn-default" id="onesubEvent" >Only this event</a> <a class="btn btn-default" data-dismiss="modal" id="wholeSubEvent">All events</a>
            	</p>
			</div>
			</div>
			</div>
		</div>
		
		
		
		<div id="overLappingAllDaySubEventModal" class="modal " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" >
         <div class="modal-content">
			<div class="modalHeader alert-error">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;">Edit recurring event</h4>
				<h4 class="alert-heading"  style="font-family: Helvetica Neue;">Would you like to change only this event or  following events in the series ?</h4>
            	<p>
              	<a  class="btn btn-default" id="onesubAllDayEvent" >Only this event</a> <a class="btn btn-default" data-dismiss="modal" id="followingSubEvent">Following events</a>
            	</p>
			</div>
			</div>
			</div>
		</div>
					
		</div>
	

<script src="js/bootstrap-tooltip.js" ></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/function/notesview.js"></script>
<script src="js/function/loadnoteview.js"></script>
<script src="js/models/crowd.js" type="text/javascript"></script> 


<link rel='stylesheet' href='js/fullcalendar/theme.css' />
<link href='js/fullcalendar/fullcalendar.css' rel='stylesheet' />
<link href='js/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='js/fullcalendar/fullcalendar.js'></script>

<!-- Calender customize event Add and View used js -->
<script type="text/javascript" src='js/fullcalendar/calendarAddEvent.js'></script>
<script type="text/javascript" src='js/fullcalendar/calendarEvents.js'></script>

<!-- For refresh Today's schedule in the side bar to see todays events -->
<!--  <script src="js/collection/todayschedulecollection.js"></script>-->
<!--<script type="text/javascript" src='lib/jquery-ui.js'></script> -->


<script type="text/javascript" src="upgradejs/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="upgradejs/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>


<script type="text/javascript"><!--

var t ;
$( document ).on(
    'mouseover',
    '#addScheduleModel', 
    function(){
        window.clearTimeout( t );
        t = window.setTimeout( function(){ 
            $('#eventRepeatsDate').datetimepicker('place')
            $('#estartDateTime').datetimepicker('place')
            $('#eendDateTime').datetimepicker('place')
            $('#estartDate').datetimepicker('place')
            $('#eendDate').datetimepicker('place')
        }, 100 );   
    }
);
$( document ).on(
	    'mouseover',
	    '#editScheduleModel', 
	    function(){
	        window.clearTimeout( t );
	        t = window.setTimeout( function(){ 
	            $('#editEventRepeatsDate').datetimepicker('place')
	            $('#editendTime').datetimepicker('place')
	            $('#editstartTime').datetimepicker('place')
	            $('#editendDate').datetimepicker('place')
	            $('#editstartDate').datetimepicker('place')
	        }, 100 );   
	    }
	);
	

$('.form_date').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
	startView: 2,
	forceParse: 0,
    showMeridian: 1,
    minView:2,
    maxView:4
   
});

$('.form_datetime').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
	startView: 2,
	forceParse: 0,
	showMeridian: 1
});

$('.form_datetime_dueDate').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  0,
    autoclose: 1,
    todayHighlight: 1,
	startView: 2,
	forceParse: 0,
	showMeridian: 1
});


$('.repeat_date_auto').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
	startView: 2,
	forceParse: 0,
    showMeridian: 1,
    minView:2,
    maxView:4,
    pickerPosition: "top-right"
   
}).on('changeDate', function (ev){

		var currentDate = new Date(ev.date);
		currentDate.setHours(currentDate.getHours()-5);
   		currentDate.setMinutes(currentDate.getMinutes()-30);
   		
	 	var day = currentDate.getDate();
  	 	var month = currentDate.getMonth() + 1;
   		var year = currentDate.getFullYear();
   		
   		if(day<10)
		{
			day="0"+day;
		}
   		var dateValue= month+ "/" + day + "/" + year ;

   		dateValue=convertNumberDateFormatIntoStringFormat(dateValue,true);
		
});

$('.form_date_auto').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
	startView: 2,
	forceParse: 0,
    showMeridian: 1,
    minView:2,
    maxView:4,
    pickerPosition: "top-right"
   
}).on('changeDate', function (ev){

		var currentDate = new Date(ev.date);
		var hrs=0;
		var mins=0;
		var dates=new Date();
		
		var timeZoneDiff=currentDate.getTimezoneOffset();
		if(timeZoneDiff>=0){
		hrs=parseInt(timeZoneDiff/60);
		timeZoneDiff=timeZoneDiff%60;
		mins=timeZoneDiff;
		currentDate.setHours(currentDate.getHours()+hrs);
		currentDate.setMinutes(currentDate.getMinutes()+mins);
		}else{
			hrs=parseInt(timeZoneDiff/60);
			timeZoneDiff=timeZoneDiff%60;
			mins=timeZoneDiff;
			
			currentDate.setHours(currentDate.getHours()+hrs);
			currentDate.setMinutes(currentDate.getMinutes()+mins);
		
		}
   		
	 	var day = currentDate.getDate();
  	 	var month = currentDate.getMonth() + 1;
   		var year = currentDate.getFullYear();
   		
   		if(day<10)
		{
			day="0"+day;
		}
   		var dateValue= month+ "/" + day + "/" + year ;

   		dateValue=convertNumberDateFormatIntoStringFormat(dateValue,true);
   	 if(($('#eventEndDate').val()==null || $('#eventEndDate').val()=='') && $('#eventStartDate').val()!='')
			$('#eventEndDate').val(dateValue);
	 	 if(($('#editeventEndDate').val()==null || $('#editeventEndDate').val()=='') && $('#editeventStartDate').val()!='')
			$('#editeventEndDate').val(dateValue);
		  if(($('#editSubEventEndDate').val()==null || $('#editSubEventEndDate').val()=='') && $('#editSubEventStartDate').val()!='') 
			$('#editSubEventEndDate').val(dateValue);
});

$('.end_date').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
	startView: 2,
	forceParse: 0,
    showMeridian: 1,
    minView:2,
    maxView:4,
    pickerPosition: "top-right"
   
}).on('changeDate', function (ev){

		var currentDate = new Date(ev.date);
		var hrs=0;
		var mins=0;
		var dates=new Date();
		
		var timeZoneDiff=currentDate.getTimezoneOffset();
		if(timeZoneDiff>=0){
		hrs=parseInt(timeZoneDiff/60);
		timeZoneDiff=timeZoneDiff%60;
		mins=timeZoneDiff;
		currentDate.setHours(currentDate.getHours()+hrs-1);
		currentDate.setMinutes(currentDate.getMinutes()+mins);
		}else{
			hrs=parseInt(timeZoneDiff/60);
			timeZoneDiff=timeZoneDiff%60;
			mins=timeZoneDiff;
			
			currentDate.setHours(currentDate.getHours()+hrs-1);
			currentDate.setMinutes(currentDate.getMinutes()+mins);
		
		}
	 	var day = currentDate.getDate();
  	 	var month = currentDate.getMonth() + 1;
   		var year = currentDate.getFullYear();
   		
   		if(day<10)
		{
			day="0"+day;
		}
   		var dateValue= month+ "/" + day + "/" + year ;

   		dateValue=convertNumberDateFormatIntoStringFormat(dateValue,true);
   	 if(($('#eventStartDate').val()==null || $('#eventStartDate').val()=='') && $('#eventEndDate').val()!='') 
			$('#eventStartDate').val(dateValue);
		if(($('#editeventStartDate').val()==null || $('#editeventStartDate').val()=='') && $('#editeventEndDate').val()!='')
			$('#editeventStartDate').val(dateValue);
		if(($('#editSubEventStartDate').val()==null || $('#editSubEventStartDate').val()=='') && $('#editSubEventEndDate').val()!='')
			$('#editSubEventStartDate').val(dateValue);
});

$('.from_datetime_auto').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
	startView: 2,
	forceParse: 0,
	showMeridian: 1,
	pickerPosition: "top-right"
}).on('changeDate', function (ev) {
	console.log("event "+ev);
	
	var d = new Date(ev.date);
	var hrs=0;
	var mins=0;
	var dates=new Date();
	
	var timeZoneDiff=d.getTimezoneOffset();
	if(timeZoneDiff>=0){
	hrs=parseInt(timeZoneDiff/60);
	timeZoneDiff=timeZoneDiff%60;
	mins=timeZoneDiff;
	d.setHours(d.getHours()+hrs+1);
	d.setMinutes(d.getMinutes()+mins);
	}else{
		hrs=parseInt(timeZoneDiff/60);
		timeZoneDiff=timeZoneDiff%60;
		mins=timeZoneDiff;
		
		d.setHours(d.getHours()+hrs+1);
		d.setMinutes(d.getMinutes()+mins);
	
	}
	 var da;
	if(d.getDate()<10){
		da="0"+d.getDate();
		
	 }else{
		 da=d.getDate();
	 }
	
	 var eventEndDate= (d.getMonth()+1)+"/"+da+"/"+d.getFullYear()+" "+d.getHours()+":"+d.getMinutes()+" ";
	 var endDate=convertNumberDateFormatIntoStringFormat(eventEndDate,false);
	 if(($('#eventEndTime').val()==null || $('#eventEndTime').val()=='') && $('#eventStartTime').val()!='')
			$('#eventEndTime').val(endDate);
		if(($('#editeventEndTime').val()==null || $('#editeventEndTime').val()=='') && $('#editeventStartTime').val()!='') 
			$('#editeventEndTime').val(endDate);
		if(($('#editSubEventEndTime').val()==null || $('#editSubEventEndTime').val()=='') &&  $('#editSubEventStartTime').val()!='')
			$('#editSubEventEndTime').val(endDate);
	
	});

$('.end_datetime').datetimepicker({
    //language:  'fr',
    weekStart: 0,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
	startView: 2,
	forceParse: 0,
	showMeridian: 1,
	pickerPosition: "top-right"
}).on('changeDate', function (ev) {
	console.log("event "+ev);
	var d = new Date(ev.date);
	var hrs=0;
	var mins=0;
	var dates=new Date();
	
	var timeZoneDiff=d.getTimezoneOffset();
	if(timeZoneDiff>=0){
	hrs=parseInt(timeZoneDiff/60);
	timeZoneDiff=timeZoneDiff%60;
	mins=timeZoneDiff;
	d.setHours(d.getHours()+hrs-1);
	d.setMinutes(d.getMinutes()+mins);
	}else{
		hrs=parseInt(timeZoneDiff/60);
		timeZoneDiff=timeZoneDiff%60;
		mins=timeZoneDiff;
		
		d.setHours(d.getHours()+hrs-1);
		d.setMinutes(d.getMinutes()+mins);
	
	}
	  var da;
	if(d.getDate()<10){
		da="0"+d.getDate();
		
	 }else{
		 da=d.getDate();
	 }
	
	 var eventEndDate= (d.getMonth()+1)+"/"+da+"/"+d.getFullYear()+" "+d.getHours()+":"+d.getMinutes()+" ";
	 var endDate=convertNumberDateFormatIntoStringFormat(eventEndDate,false);
	 if(($('#eventStartTime').val()==null || $('#eventStartTime').val()=='') && $('#eventEndTime').val()!='')
			$('#eventStartTime').val(endDate);
		 if(($('#editeventStartTime').val()==null || $('#editeventStartTime').val()=='') && $('#editeventEndTime').val()!='')
			$('#editeventStartTime').val(endDate);
		if(($('#editSubEventStartTime').val()==null || $('#editSubEventStartTime').val()=='') && $('#editSubEventEndTime').val()!='') 
			$('#editSubEventStartTime').val(endDate);
	
	});

	
function checkAllDay()
{
	var allDayEvent=$('input[name=alldayevent]').is(':checked');
       
	if(allDayEvent==true)
	{
		
		$("#eendDateTime").hide();
		$("#estartDateTime").hide();
		$("#eendDate").show();
		$("#estartDate").show();
		$('#eventStartTime').val("");
		$('#eventEndTime').val("");
		$('#eventStartDate').val("");
		$('#eventEndDate').val("");
		
	}
	else
	{
		$("#eendDate").hide();
		$("#estartDate").hide();
		$("#estartDateTime").show();
		$("#eendDateTime").show();
		$('#eventStartTime').val("");
		$('#eventEndTime').val("");
		$('#eventStartDate').val("");
		$('#eventEndDate').val("");
		
	}
}
function checkEditAllDay()
{
	var allDayEvent=$('input[id=editalldayevent]').is(':checked');
	var editSubEventAllDay=$('input[id=editSubEventAllDay]').is(':checked');
     
	if(allDayEvent==true)
	{
		$("#editstartTime").hide();
		$("#editendTime").hide();
		$("#editstartDate").show();
		$("#editendDate").show();
		$("#editeventStartDate").val("");
		$("#editeventEndDate").val("");
		$("#editeventStartTime").val("");
		$("#editeventEndTime").val("");
		
		}
	else
	{
		$("#editstartDate").hide();
		$("#editendDate").hide();
		$("#editstartTime").show();
		$("#editendTime").show();
		$('#editeventStartTime').val("");
		$('#editeventEndTime').val("");
		$('#editeventStartDate').val("");
		$('#editeventEndDate').val("");
		
		
	}

	if(editSubEventAllDay==true)
	{
		$("#editSubEventEndTime").val("");
		$("#editSubEventStartTime").val("");
		$("#editSubEventEndDate").val("");
		$("#editSubEventStartDate").val("");
		$("#editSubStartTime").hide();
		$("#editSubEndTime").hide();
		$("#editSubStartDate").show();
		$("#editSubEndDate").show();
	}
	else
	{
		$("#editSubEventEndTime").val("");
		$("#editSubEventStartTime").val("");
		$("#editSubEventEndDate").val("");
		$("#editSubEventStartDate").val("");
		$("#editSubStartTime").show();
		$("#editSubEndTime").show();
		$("#editSubStartDate").hide();
		$("#editSubEndDate").hide();
	}
}


function keypressnotallowed(event)
{
	return false;
}

$(document).ready(function() {
});


--></script>

<style>

	.fc-widget-header, .fc-widget-content {
	border-bottom-color : #D6D6D6;
	border-top-color : #D6D6D6;
	border-left-color : #D6D6D6;
	border-right-color : #D6D6D6;
	}	
	#loading {
		position: absolute;
		top: 5px;
		right: 5px;
		}

	.fc-event-vert{
	
	}
</style>
<script> 
    $(document).ready(function(){
    
    $('#moreActions').on('show.bs.modal', function() { 
    var height=window.screen.height 
    //alert(window.screen.height); 
    $(this) .css({ position: 'fixed', overflow: 'hidden', height:height+'px', bottom: 'auto' }); 
    setTimeout( function() { $('.modal-backdrop').css({ position: 'absolute', top: 0, left: 0, width: '100%', height: Math.max( document.body.scrollHeight, document.documentElement.scrollHeight, document.body.offsetHeight, document.documentElement.offsetHeight, document.body.clientHeight, document.documentElement.clientHeight ) + 'px' }); }, 0);     
    });  
    });
</script>
