<div class="profileViews" style="background-color: #EAEDEF;max-height: auto;">
<div class="backGroundColor" style=" min-height:550px; max-height: auto;">
   
<div id="profilemsgModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="min-width: 100px;font-family: Helvetica Neue;">
<!--<div class="modal" id="profilemsgModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"
	aria-labelledby="myModalLabel" aria-hidden="true">-->
		<div class="modal-dialog">
    <div class="modal-content">	
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"
	aria-hidden="true">&times;</button>
<span id="profilemsg-header-span" class="fontStyle"></span></div>
<div id="msg-modal-body" class="modal-body col-md-6 fontStyle" ><span
	id="profilemodal-message" ></span></div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true"
	id="profilemsgfooterbtn">Close</button>
</div>
</div>
</div>
</div>
<div id="alertMessagesPro" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="min-width: 210px;">
			<div class="modal-dialog">
    <div class="modal-content">	
			<div class="modalHeader ">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeGroupModel">&times;</button>
				<h4 id="myModalLabel" style="font-family: Helvetica Neue;"></h4>
				
				<h4 class="alert-heading" style="color: #b94a48;"><strong>Welcome to Musicnote!</strong></h4><h4 class="alert-message" style="color: #b94a48;font-size:14px;"> Watch our Musicnote Overview video to get started making the most of the app right away. </h4>
            <p align="right">
              <button class="btn btn-success fontStyle" id="showMsgsPro" >Watch now <i class="icon-play icon-white"></i></button> <button class="btn btn-danger fontStyle" data-dismiss="modal">Go to App</button>
            </p>
			</div>
		</div></div>
		</div>
<!--<ul class="nav nav-tabs" id="myTab">
	    <li class="active"><a href="#tab1-1" data-toggle="tab" >Personal Profile</a></li>  
	
</ul>


-->

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-2">

<h4 style="font-family: Helvetica Neue;">Profile Information</h4>
</div>
</div>

<div class="col-md-3 fontStyle14" id="personalinfo">
<font color="red">*</font>First Name <input 	id="pfirstname" name="pfirstname" type="text" class="form-control fontStyle14" required />
<div class="fontStyle" id="pfirstnameDiv" style="display:none"></div> 
<font color="red">*</font>Last Name <input 	id="plastname" name="plastname" type="text" 	class="form-control fontStyle14" placeholder="" required />
<div class="fontStyle" id="plastnameDiv" style="display:none"></div>  
<font color="red">*</font>User Name <input id="fbusernames" name="fbusernames" disabled="disabled" type="text" 	class="form-control fontStyle14" required  onblur="javascript:updateExistsUserName();"/> 
<div class="" id="fbusernamesDiv" style="display:none"></div> 
<div class="" id="ExistsfbusernamesDiv" style="display:none"></div>
<font color="red"  id="pemailidfont">*</font><font id="emailfont" style="font-family: Helvetica Neue;font-size:14px;">Email</font> <input id="pemailid" name="pemailid" 	type="email" class="form-control fontStyle" placeholder="" required onblur="javascript:updateMail();" />
<div class="fontStyle" id="pemailidDiv" style="display:none"></div> 
<div class="fontStyle" id="ExistspemailidDiv" style="display:none"></div> 
<div class="fontStyle" id="ValidatepemailidDiv" style="display:none"></div>
<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">Favorite Genre</font><select id="pfavoriteGenre" style="font-family: Helvetica Neue;font-size:14px;"	class="form-control"></select>

<br>


</div>




<div class="col-md-3" id="personalinfo2" style="display: none;">
 <input id="tempemailid" name="tempemailid" 	type="hidden" class="fontStyle form-control" placeholder="" />

<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">Time Zone</font><select id="ptimeZone" style="font-family: Helvetica Neue;font-size:14px;text-overflow: ellipsis;white-space:normal;word-break:break;overflow-x:scroll;"	class="form-control"></select>

<input type="radio" name="notesAccessFlag" id="notesAccessPrivateFlag" value="private" checked="checked" class="hidden"/>
<input type="radio" name="notesAccessFlag" id="notesAccessPublicFlag" value="public" class="hidden"/>
<font color="red">*</font>Primary Instrument<select id="pInstrument" 	class="form-control fontStyle14"></select>
<font color="red">*</font>Skill Level<select id="pSkillLevel" 	class="form-control fontStyle14"></select>

<font style="font-family: Helvetica Neue;font-size:14px;margin-left:10px;">Website</font><input 	id="urlId" name="url" type="text" style="font-family: Helvetica Neue;font-size:14px;"	class="form-control" placeholder="" required />
<font style="font-family: Helvetica Neue;font-size:14px;margin-left:10px;">Bio</font><textarea id="descriptionId" name="description"  style="font-family: Helvetica Neue;font-size:14px;" class="form-control" placeholder="" required maxlength="500" onkeyup="countChar(this)"/>
<div><font color="red">
<span id="bioVarning" class="help-char-remaining" style="font-family: Helvetica Neue;font-size:14px;"></span>
</font>
</div>
<font color="red">*</font>Disable Confirmation to sharing in Crowd<br/>
<input type="radio" name="crowdnotificationFlag" id="crowdnotificationYesFlag" value="True" checked="checked"/> Yes
<input type="radio" name="crowdnotificationFlag" id="crowdnotificationNoFlag" value="False"/> No
<div class="facebookcheck"><font color="red" >*</font>Disable Confirmation to Logout in Facebook<br/>
<input type="radio" name="fbLogoutFlag" id="fbLogoutYesFlag" value="false" checked="checked"/><font style="font-family: Helvetica Neue;"> Yes</font>
<input type="radio" name="fbLogoutFlag" id="fbLogoutNoFlag" value="true" /><font style="font-family: Helvetica Neue;"> No</font>
</div>

<div id="securityQuestion" class="profileSecurityQuestion" style="display:none;">
<select id="securitySelect" class="form-control fontStyle profileSecurity" style="text-overflow: ellipsis;white-space:normal;word-break:break;overflow-x:scroll;">
<option value="0">Select any Security Question</option>

</select>
<input type="text" disabled="disabled" id="securityBox"  placeholder="Enter your answer" required="" class="form-control fontStyle  profileSecurityBox"></input>
</div>
<div id="dialogempty1" title="Basic dialog" style="display:none">Field cannot be Blank</div>

<div><label>
<input id="pnotificationMail" name="pnotificationList" value="notificationList" checked disabled  type="checkbox"  />
I may recieve communications from musicnote and can change my <a id="pmailNotificationLists"><span id="pmailNotificationList">notification</span></a> preferences in musicnote
 </label>
</div>
</div>


<div class="col-md-2">
<div class="fileupload-new thumbnail span12"><span class="close" id="removePictureId" aria-hidden="true" onclick="removePicture()" data-dismiss="modal">x</span><img src=""  id="profileImg"  /></div>
<a href="#" id="editProfileview" class="fontStyle14">Change Picture</a>
</div>


<div id="uploadProfileModal" class="modal ">
	<div class="modal-dialog">
    <div class="modal-content">	
			<div class="modal-header" style="margin-top:-41px">
				<span class="close js-modal-close" data-dismiss="modal" aria-hidden="true" style="margin-top:35px">&times;</span>
				<h4 style="font-family: Helvetica Neue;font-size:14px;margin-top:37px">Attach Files</h4>
			</div>
<div class="accordion-inner" style="margin-top:16px"><script src="js/jquery.form.js"></script>
<form id="myForm" method="post" enctype="multipart/form-data" action="" style="margin-left:15px">
<input type="file" name="myfile" id="myfile" width="50%">
<button type="submit" class="btn btn-primary start" style="margin-top:10px"><i
	class="glyphicon glyphicon-upload white"></i> <span>Upload</span></button>
</form>

<div id="progress" style="display: none">
<div id="bar"></div>
<div id="percent" style="margin-left:18px">0%</div>
</div>
<br />

<div id="message"></div>

<script>

$(document).ready(function()
{
	var extArray=['jpg','png','jpeg','tiff','jfif','jpe','gif','bmp','tif'];

	function file_get_ext(filename)
    {
    	return typeof filename != "undefined" ? filename.substring(filename.lastIndexOf(".")+1, filename.length).toLowerCase() : false;
    }
    
	var fileSizeFlag = false;
	$('#myForm').submit(function (){
		var file = document.getElementById('myfile').files[0];
		
		if(file!= undefined && file!=""){
			var ext = file_get_ext(file.name);
			if(extArray.indexOf(ext)!= -1){
				var fileSizeInKB = file.size / 1024;
				//if(fileSizeInKB > 10 && fileSizeInKB <30){	
					var action =  $('#myForm').attr('action');
				    $(this).attr('action', urlForServer + "user/updateProfileImg/"+userId+'/'+"0"+'/'+"0"+'/'+"0"+'/'+"0"+'/'+musicnote);
				    fileSizeFlag = true;
				//}else{
				//	fileSizeFlag = false;
					//$('#myfile').val('');
					//alert("upload file size between 10KB to 30KB");
				//}
			}else{
				fileSizeFlag = false;
				alert("upload file type of *.jpeg, *.jpg, *.bmp, *.tiff, *.png ");
			}
		}
	});
	
	
	var options = { 
    beforeSend: function() 
    {
	    if(fileSizeFlag){
    		$("#progress").show();
    		//clear everything
	    	$("#bar").width('0%');
	    	$("#message").html("");
			$("#percent").html("0%");
	    }
    },
    uploadProgress: function(event, position, total, percentComplete) 
    {
    	if(fileSizeFlag){
	    	$("#bar").width(percentComplete+'%');
	    	$("#percent").html(percentComplete+'%');
    	}
    },
    success: function(response) 
    {
    	if(fileSizeFlag){
    		$("#bar").width('100%');
	    	$("#percent").html('100%');
    	}
    },
	complete: function(response) 
	{
    	if(fileSizeFlag){
			//$("#message").html("<font color='green'>"+response.responseText+"</font>");
			$("#myfile").val("");
			setTimeout(function(){
				$('#progress').hide();	
			},500);
			$('#uploadProfileModal').modal('hide');
			
	    	//$("#move-msg-header-span1").attr('class',"label label-success").text("info");
			//$("#move-modal-message1").attr('class',"label label-success").text("  File Uploaded successfully");
			uploadedphoto();
    	}
	},
	error: function()
	{
		//$("#message").html("<font color='red'> ERROR: unable to upload files</font>");

	}
	

	}; 
	
    $("#myForm").ajaxForm(options);
	
     
});

</script></div>
</div>
</div>
</div>









<div class="col-md-4 row"  align="center">
<a  class="btn btn-medium btn-primary" id="updateUser" style="font-family: Helvetica Neue;font-size:14px;"aria-hidden="true" >Update</a>
<a  class="btn btn-medium btn-primary" id="cancelUser" style="font-family: Helvetica Neue;font-size:14px;" aria-hidden="true" >Cancel</a>

</div>
</div>
</div>
<div id="chooseNotificationModel" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="">
	<div class="modal-dialog">
    <div class="modal-content">	
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="mysModalLabel" style="font-family: Helvetica Neue;">Email Notifications</h4>
			</div>
			
<div class="modalBody" style="height:70%;">
	<div class="control-group" style="margin-left:10px;">

	<!-- <div><label>
<input id="welcomeMail" name="welcomeMailNotify" value="welcomeMail" checked disabled	type="checkbox" class="form-control fontStyle14"   />
<span id=""><strong style="display: block;font-weight: normal;line-height: 17px;margin: 0 0 0 28px;margin-top:-23px;">Welcome mail
 </strong> </span></label>
</div> -->
<div><label>
<input id="contactMail" name="contactMail" value="contactBasis"	type="checkbox"   />
New contacts add me
 </label>
</div>
	<div><label>
<input id="noteMail" name="noteMail" value="noteBasis"	type="checkbox"    />
Notes are shared with me
</label>
</div>

<div><label>
<input id="memoMail" name="memoMail" value="memoBasis"	type="checkbox"   />
Memos are shared with me
 </label>
</div>
<div><label>
<input id="eventMail" name="eventMail" value="eventBasis"	type="checkbox"   />
Events are shared with me
 </label>
</div>




<div><label>
<input id="dueDateMail" name="dueDateMail" value="dueDateMail"	type="checkbox"    />
Due dates and reminders are approaching
 </label>
</div>
<div><label>
<input id="crowdMail" name="crowdMail" value="crowdBasis"	type="checkbox"  />
Someone I follow adds a new Note to the Crowd
</label>
</div>


</div></div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="paddMailNotifyList" style="font-size:14px;">Save Settings</button>
				
			</div>
		
		
</div>
</div>
</div>

<link href="js/fullcalendar/datetimepicker.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="js/fullcalendar/bootstrap-datetimepicker.js" charset="UTF-8"></script>

<script type="text/javascript">
$(document).ready( function() {
	window.addEvent('domready', function(){
		$('#pdob').datetimepicker({
			weekStart: 0,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1,
			minView:2,
			maxView:4,
			format : 'M/d/yyyy'
		});
	});
});
function keypressnotallowed(event)
{
	return false;
}
</script>
<script src="js/models/createuser.js" type="text/javascript"></script> 
<script src="js/models/userProfile.js" type="text/javascript"></script> 


</div>
</div>