<script>
$(document).ready(function() {
	
	$( "#dob" ).datepicker({
		changeMonth: true,
		changeYear: true,
		maxDate: new Date()
		});

		});
</script>


<div class="modal" id="regmsgModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"
	aria-labelledby="myModalLabel" aria-hidden="true" style="position: relative;" >
		<div class="modal-dialog">
    <div class="modal-content">	
<div class="modal-header">

<span id="regmsg-header-span"></span></div>
<div id="msg-modal-body" class="modal-body span6" ><span
	id="regmodal-message" ></span></div>
<div class="modal-footer">

</div>
</div>
</div>
</div>
<h3>Create a Musicnote Account</h3>

<div class="col-md-3" id="personalinfo">
<div class="form-group">
<font color="red">*</font>First Name <input	id="userfirstname" name="userfirstname" type="text"	class="form-control fontStyle"  />
<div class="" id="userfirstnameDiv" style="display:none"></div> 
</div>

<div class="form-group">
<font color="red">*</font>Last Name <input 	id="userlastname" name="userlastname" type="text"	class="form-control fontStyle" placeholder="" required />
<div class="" id="userlastnameDiv" style="display:none"></div>
</div>

<div class="form-group">
<font color="red">*</font>User Name<input id="fbusername" name="fbusername" type="text" 	class="form-control fontStyle" required  onblur="javascript:validateUserName();" />
<div class="" id="fbusernameDiv" style="display:none"></div> 
 <div id="userDialog" title="Basic dialog" style="display:none">
<p><font color="red">User Name already exist</font>
</div>
<div id="userValidateError" title="Basic dialog" style="display:none">
</div>
</div>

<div class="form-group">
<font color="red">*</font>Which best describes you<select id="role" 	class="form-control fontStyle"></select>
</div>

<div class="form-group">
<label ><font color="red" id="manditorySelect" >*</font><font id="emailfontstyle">Email</font> </label><input id="emailid" name="emailid" 	type="email" class="form-control fontStyle14" placeholder=""  onblur="javascript:validateEmail();" />
<!-- <font color="red">*</font>Email <input id="emailid" name="emailid" 	type="email" class="form-control fontStyle" placeholder="" required onblur="javascript:existsMail();" />-->
<div class="" id="emailidDiv" style="display:none"></div> 
<div class="" id="validationEmailidDiv" style="display:none"></div> 
<div id="dialog" title="Basic dialog" style="display:none">
<p><font color="red">Email already exist</font>
</div>
<div id="emailValidateError" title="Basic dialog" style="display:none">
</div>
</div>

<div class="form-group">
<font color="red">*</font>Password
<input id="password" name="password" type="password"  maxlength="15"	class="form-control" required onblur="javascript:validatePassword();"/> 
<div id="passValidateError" title="Basic dialog" style="display:none">
</div>
<div class="" id="passwordDiv" style="display:none"></div> </div>

<div class="form-group">
<font color="red">*</font>Confirm Password 
<input 	id="confirmpassword" name="confirmpassword" type="password"	class="form-control"  required  onblur="javascript:confirmPassword();"/>
<div class="" id="confirmpasswordDiv" style="display:none"></div> 
<div id="confirmDiv" title="Basic dialog" style="display:none">
<p><font color="red"> Password mismatch</font>
</div></div>

</div>



 

<!--<div class="col-md-3" id="personalinfo2">
<font color="red">*</font>Address 1<input id="address" type="text"	name="address" class="form-control" required/>
 Address 2<input id="address1" 	type="text" name="address1" class="form-control"/>
 <font color="red">*</font>City<input id="city" type="text"	name="city" class="form-control" required/>
 
<font color="red">*</font>State<input id="state" 	type="text" name="state" class="form-control" required/>


<font color="red">*</font>PinCode
<input id="pincode" 	type="text" name="pincode" class="form-control" maxlength="6" required onblur="javascript:numberValidation();"/>
<div id="pincodeDiv" title="Basic dialog" style="display:none">
<p><font color="red">Must be a number</font>
</div>
<font color="red">*</font>Country<input id="country" 	type="text" name="country" class="form-control" required/>






</div>
--><div class="col-md-3" id="personalinfo1">
<!-- <font color="red">*</font>Which best describes you<select id="role" 	class="form-control fontStyle"></select> -->
<div class="form-group">
<font color="red">*</font> Primary Instrument<select id="instrument" 	class="form-control fontStyle"></select>
</div>
<div class="form-group">
<font color="red">*</font>Skill Level<select id="skillLevel" 	class="form-control fontStyle"></select>
</div>
<div class="hidden form-group">
<font color="red">*</font>FacebookId<input     id="facebookId" name="facebookId" type="text"    class="hidden form-control fontStyle" placeholder="" required />
</div>
<div class="form-group">
<font color="red">*</font> Favorite Genre<select id="favoriteMusic" 	class="form-control fontStyle"></select>
</div>
<div class="form-group">
<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">Security Question</font> <select id="securitySelect" class="form-control fontStyle"  style="position:relative;text-overflow: ellipsis;white-space:normal;word-break:break;overflow:auto;">
<option value="0">Select any Security Question</option>

</select>
</div>
<div class="form-group">
<font color="red">*</font><font style="font-family: Helvetica Neue;font-size:14px;">Answer</font> <input type="text" disabled="disabled" required id="securityBox" class="form-control fontStyle"></input>
<div id="dialogempty1" title="Basic dialog" style="display:none">Field cannot be blank</div>
</div>
<div class="form-group">
<div class="checkbox"><label>
<input id="notificationMail" name="notificationList" value="notificationList" checked disabled  type="checkbox"  />
I may recieve communications from musicnote and can change my <a id="mailNotificationLists"><span id="mailNotificationList">notification</span></a> preferences in musicnote
 </label>
</div></div>

<div class="form-group">
<div class="checkbox"><label>
<input id="agreeterms" name="terms&condition" 	type="checkbox"  onClick="checkterms();" />
I agree to the musicnote
<a href="#viewUserTerms" data-toggle="modal" class="">terms of service</a> and <a href="#privacyPolicyModal" data-toggle="modal" class="">privacy policy</a>

<div id="termsdecline" title="Basic dialog" style="display:none;font-weight: normal;line-height: 17px;margin: 0 0 0 28px;margin-top:5px;">
<p><font color="red">In order to use our services, you must agree to Musicnote's Terms of Service and privacy policy.</font>
</p></div></label>
</div>
</div>
</div>

<!--
<font color="red">*</font>DOB <input id="rdob" 	name="rdob" type="text" class="form-control"  placeholder="Birth Date" onkeypress="return keypressnotallowed(event)" required />

<font color="red">*</font>Enable Notification
<br/><input type="radio" name="notificationFlag" id="notificationYesFlag" value="yes" checked="checked"/> Yes
<input type="radio" name="notificationFlag" id="notificationNoFlag" value="no"/> No
<br/><br/>
--><!-- <font color="red">*</font>Disable Confirmation to sharing in Crowd
<br/><input type="radio" name="crowdnotificationFlag" id="crowdnotificationYesFlag" value="True" checked="checked"/> Yes
<input type="radio" name="crowdnotificationFlag" id="crowdnotificationNoFlag" value="False"/> No -->


<div class="col-md-10" >
<a  href="#register" class="btn btn-medium btn-primary" style="font-family: Helvetica Neue;font-size:14px;" id="createUser" aria-hidden="true" >Register</a>
<a href="#cancel"  class="btn btn-medium btn-primary" style="font-family: Helvetica Neue;font-size:14px;" aria-hidden="true" id="cancel">Cancel</a>
</div>
</div>
</div>



<div title="Confirmation" id="id3" style="display: none;">
<p>Click ok to confirm your account with <label id="UserEmail" ></label>else cancel to continue registration page.
<p></p>
</div>

<div id="viewUserTerms" class="modal "  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="width: 100%;height:98%;top:0%;left:0%;margin-left:0%;font-family: helvetica neue;">
<div class="modal-dialog" style="height:92%">
    <div class="modal-content" style="height:100%">	
<div class="modalHeader">
	<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
	<h4 id="mysModalLabel" style="font-family:Helvetica Neue">Musicnote Terms of Service</h4>
</div>
<div class="modalBody"style="height:84%;">
<div class="control-group" style="font-family:Helvetica Neue">

			
<p>Thanks for using Musicnote! These terms of service ("Terms") cover your use and access to the services, software, applications and websites ("Services") provided by Musicnote. Our Privacy Policy explains how we collect and use your information. By using our Services you're agreeing to be bound by these Terms, and review our Privacy and Acceptable Use policies. If you're using our Services for an organization, you're agreeing to these Terms on behalf of that organization. </p>

<h4>Your Content and Your Permissions</h4>
<p>When you use our Services, you provide us with things such as your files, content, messages, contacts, recordings and so on ("Your Content"). Your Content is yours. These Terms don't give us any rights to access your Content except for the limited rights that enable us to offer the Services.</p> 

<p>Musicnote allows you to save and share your Content into Notes ("Notes"). Notes can include files, comments, text, links, recordings and more. Any Notes you create should have Content which you legally have the rights to and by using our Services you accept that you are not storing, publishing or sharing any material that's fraudulent, defamatory, misleading, or that violates the privacy or infringes the rights of others. The Musicnote Crowd ("Crowd") is a part of our Services that allow users to share their Notes with all other Musicnote Users. The Crowd is a public and open source community meant to allow our Users to share and find the best resources for learning and teaching music in a supportive learning environment. By agreeing to these terms you agree that any Notes you share with the Crowd should have Content which you legally have the rights to share and you accept that you are not storing, publishing or sharing any material that's fraudulent, defamatory, misleading, or that violates the privacy or infringes the rights of others. We reserve the right to ban, remove, edit or delete any Notes you share with the Crowd if it comes to our attention that you have shared Notes to the Crowd which has content that goes against our Terms of Service or fraudulent, defamatory, misleading, obscene or that violates the privacy or infringes the rights of others. We reserve the right to do so for any reason at any time.</p> 

<p>We strive to give you a great experience by offering our Services to help you through your musical journey, making sure that your data is protected and being fully transparent about our data handling practices. In return, we ask that you respect the Musicnote Service and other users, and follow these rules about what not to do when you're using our Service. Please remember that when you agreed to our Terms of Service (including these Guidelines), you agreed that you are responsible for any and all conduct and Content under your account. Musicnote protects your data with high security and care. It engages the services of reputed services providers for the same. Notwithstanding the security provided by Musicnote, Musicnote shall not be liable for any damage caused to you due loss of data caused by hacking or otherwise.</p> 

<h4>Your Responsibilities</h4>
<p>You're responsible for your conduct, Your Content and you must comply with our User Guidelines mentioned below. Content in the Services may be protected by others' intellectual property rights. Please don't copy, upload, download or share content unless you have the right to do so.
We may review your conduct and content for compliance with these Terms and our Privacy Policy. With that said, we have no obligation to do so. We aren't responsible for the content people post and share via the Services.
Please safeguard your password to the Services, make sure that others don't have access to it, and keep your account information current.
Finally, our Services are not intended for people under the age of 13. By using our Services, you are representing to us that you're over 13.</p>
<h4>Our Stuff</h4>
<p>The Services we provide are protected by copyright, trademark, and other US and foreign laws. These Terms don't grant you any right, title or interest in the Services, others' content in the Services, Musicnote trademarks, logos and other brand features. We welcome feedback, but note that we may use comments or suggestions without any obligation to you.</p>
<h4>Copyright</h4>
<p>We expect that you respect the intellectual property of others. We respond to notices of alleged copyright infringement if they comply with the law. We reserve the right to delete or disable content alleged to be infringing and terminate accounts of repeat infringers.</p> 

<h4>User Guidelines</h4>
<h4>You agree that when you use the Service you won't:</h4>
<p>- Use Musicnote for Anything Illegal - or to promote illegal activities. So don't do things like post instructions for illegal acts, promote harm to any person, group of people or animals, or any governmental or legal entity; or stalk or harass anyone. This also means don't violate laws or regulations applicable to you or the use of the Service. You, and not Musicnote, are responsible for complying with any laws or regulations applicable to the data in your account.</p> 
<p>- Violate Our Users's Rights. Don't invade another's privacy, and don't use someone's personal data for commercial purposes or in some other manner that violates their rights or applicable laws. This also means you shouldn't upload, post or otherwise transmit any Content that you don't have a right to transmit under any law or under contractual or fiduciary relationships. </p>
<p>- Annoy or Scam Our Users. Don't upload, post or otherwise transmit any unsolicited or unauthorized advertising or promotional materials including spam or other schemes. Do not try to solicit users' passwords or personal information. This also means no engaging in commercial activities within the Service or on behalf of Musicnote without our prior approval. And don't use the Service as a forwarding means to another website.</p> 
<p>- Violate IP Rights. Don't upload, post or transmit Content that infringes the copyright, trademark or other intellectual property or proprietary rights of another party. And don't take any action that would violate Musicnote's Brand.</p> 
<p>- Mess with our Service. Dont' upload, promote or distribute software viruses or any other kind of computer code, files or programs that attempt to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment. Don't interfere with our servers or networks connected to the Service. Don't try to disguise the origin of any Content transmitted through the Service. Unless Musicnote has given you prior approval, don't access or attempt to access the Service by any means other than through the interface provided by Musicnote (including through the use of scripts, web crawlers or the like). And don't use the Service in a manner that could lead to the interruption of access to the Service for others.</p> 
<p>- Attempt to Copy or Resell Our Service. Don't try to reproduce Musicnote or otherwise try to exploit any part of, use of or access to the Service. Don't attempt to prevent or impair the full and complete display of advertisements or other messaging within the Service.</p> 
<p>- Pretend to Be Someone You're Not. Just be yourself. And in particular, don't pretend to be affiliated or work with Musicnote if that's not true.</p> 
<p>- Exceed the Scope of Your Authorized Use. Don't access or use features that you don't have the right to use; don't mess around with other users' Content if they haven't given you permission to do so.</p> 
<p>- Use Shared, Public Notes or Notebooks or The Crowd to Post Objectionable Content. Don't upload, publish or display Content that contains nudity, sexually graphic material or material that is otherwise deemed explicit by Musicnote; that Musicnote deems threatening, abusive, harassing, defamatory, libelous, obscene, invasive, hateful or racially, ethnically or otherwise objectionable; or that Musicnote determines is in conflict with your obligations under applicable local law or these Terms of Service.</p> 
<p>While we hope that all users of Musicnote comply with these guidelines and our Terms of Service, we must caution you that, notwithstanding these Guidelines and the requirements in our Terms of Service, you may be exposed to offensive, indecent or objectionable Content when using the Service. We expect that you understand this and, accordingly, you use the Service at your own risk. If you encounter any of the prohibited uses listed above, or any other objectionable content, you may contact us at support@musicnoteapp.com.</p> 

<h4>Termination</h4>
<p>You're free to stop using our Services at any time. We also reserve the right to suspend or end the Services at any time at our discretion and without notice. For example, we may suspend or terminate your use of the Services if you're not complying with these Terms, or use the Services in a manner that would cause us legal liability, disrupt the Services or disrupt others' use of the Services.</p> 
<h4>Services AS IS</h4>
<p>We strive to provide great Services, but there are certain things that we can't guarantee. TO THE FULLEST EXTENT PERMITTED BY LAW, Musicnote AND ITS AFFILIATES, SUPPLIERS AND DISTRIBUTORS MAKE NO WARRANTIES, EITHER EXPRESS OR IMPLIED, ABOUT THE SERVICES. THE SERVICES ARE PROVIDED AS IS. WE ALSO DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. Some states don't allow the disclaimers in this paragraph, so they may not apply to you.</p>
<h4>Limitation of Liability</h4>
<p>TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL MUSICNOTE, ITS AFFILIATES, SUPPLIERS OR DISTRIBUTORS BE LIABLE FOR (A) ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL DAMAGES OR ANY LOSS OF USE, DATA, BUSINESS, OR PROFITS, REGARDLESS OF LEGAL THEORY, WHETHER OR NOT MUSICNOTE HAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE. Some states don't allow the types of limitations in this paragraph, so they may not apply to you.</p>
<h4>Entire Agreement</h4>
<p>These Terms constitute the entire agreement between you and Musicnote with respect to the subject matter of these Terms, and supersede and replace any other prior or contemporaneous agreements, or terms and conditions applicable to the subject matter of these Terms. These Terms create no third party beneficiary rights.</p>
<h4>Waiver, Severability & Assignment</h4>
<p>Musicnote's failure to enforce a provision is not a waiver of its right to do so later. If a provision is found unenforceable, the remaining provisions of the Terms will remain in full effect and an enforceable term will be substituted reflecting our intent as closely as possible. You may not assign any of your rights under these Terms, and any such attempt will be void. Musicnote may assign its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the Services.</p>

<h4>Changes to this Policy</h4>

<p>We may revise these Terms of Service from time to time. We do so to keep pace with changes to our Services and any laws applicable to us and you. The most current version of the policy will govern our use of your information. If we make a change to these Terms that, in our sole discretion, is material, we will notify you via an update or email to the email address associated with your account. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Terms of Service.</p>

<p>If you have any thoughts or questions about our Privacy Policy or Terms of Service please contact us at team@musicnoteapp.com</p> 

<p>Thanks for helping to make Musicnote a great experience for everyone!</p>

</div>
</div>
<div class="modalFooter" style="height:8%">
	<button class="modalBtn fontStyle" id="okviewterms">OK</button>
</div>
</div>
</div>
</div>

<div id="privacyPolicyModal" class="modal "  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="width: 100%;height:98%;top:0%;left:0%;margin-left:0%;font-family: helvetica neue;">
  <div class="modal-dialog" style="height:92%">
    <div class="modal-content" style="height:100%">	
<div class="modalHeader">
	<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
	<h4 id="mysModalLabel" style="font-family:Helvetica Neue">Musicnote Privacy Policy</h4>
</div>
<div class="modalBody"style="height:84%;">


<p>Musicnote helps music students, teachers and musicians learn and teach music faster and more easily. Our users can connect with contacts including their teachers, students peers or other musicians who share similar interests. It allows them to save, share and access all of their music resources, like sheet music, videos, audio, links, images and more, in a central location for easy access anywhere, anytime.</p> 

<p>Musicnote values your privacy and your personal information and your Content that you store in our Service. This Privacy Policy explains what information Musiscnote and its affiliated companies (together, "Musicnote" or "we" and sometimes "us") collect about you and why, what we may do with that information and how we handle your Content.</p>

<p>This Privacy Policy describes how and when Musicnote collects, uses and shares your information when you use our Services. Musicnote can receive your information through our websites, applications, email notifications, SMS, APIs, widgets and ads (the "Services" or "Musicnote") and from our partners and other third parties.</p> 

<h4>Information we collect and use</h4>
 <p>In order to provide better service we collect information about your personal preferences such as what instrument you play or teach, what skill level you are at, what your favorite type of music is, and more.
We collect and use the following information to provide, improve and protect our Services. 
Account information. This includes personal information such as your name, email address, user names (created by you), password, payment information, contact information. Some of this information, for example, your name and username, is listed publicly on our Services, including on your profile page, our Contacts database and in search results. Some Services, such as search, public user profiles and viewing lists, do not require registration. 
Content. One of the main reasons people use Musicnote is to save their content, particularly their music resources, in a centralized location for easy access and collaboration. Examples include music you write or play, recordings, audio, video, links and more. Content also includes conversations within Notes between you and your Contacts. We store this Content and metadata related to it to make the user experience a better one. 
Transactional Information. We may retain the details of transactions or payments you make in Musicnote. However, we will only keep your payment source account number with your consent.</p>

<p>We also collect data using links, cookies and logs in order to provide a better and more personalized experience for you. We use this data to present to you new resources which we feel will aid in your ability to play, learn or teach music more effectively. 
Links: Musicnote may keep track of how you interact with links across our Services, including our email notifications, third-party services, and client applications, by redirecting clicks or through other means. We do this to help improve our Services, to provide more relevant advertising, and to be able to share aggregate click statistics such as how many times a particular link was clicked on.
Cookies: Like many websites, we use cookies and similar technologies to collect additional website usage data and to improve our Services, but we do not require cookies for many parts of our Service. A cookie is a small data file that is transferred to your computer's hard disk. Musicnote may use both session cookies and persistent cookies to better understand how you interact with our Services, to monitor aggregate usage by our users and web traffic routing on our Services, and to customize and improve our Services. Most Internet browsers automatically accept cookies. You can instruct your browser, by changing its settings, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. However, some Services may not function properly if you disable cookies. 
Log Data: Our servers automatically record information ("Log Data") created by your use of the Services. Log Data may include information such as your IP address, browser type, operating system, the referring web page, pages visited, location, your mobile carrier, device and application IDs, search terms, and cookie information. We receive Log Data when you interact with our Services, for example, when you visit our websites, sign into our Services, interact with our email notifications, use your Musicnote account to authenticate to a third-party website or application. Musicnote uses Log Data to provide our Services and to measure, customize, and improve them.</p>

<h4>How we use your information</h4>

<p>We use the information we collect to try to provide a safe, efficient, and customized experience. Here are some of the details on how we do that:
To manage the service. We use the information we collect to provide our services and features to you, to measure and improve those services and features, and to provide you with customer support. We use the information to prevent potentially illegal activities, and to enforce our Terms of Service. We also use a variety of technological systems to detect and address anomalous activity and screen content to prevent abuse such as spam. These efforts may on occasion result in a temporary or permanent suspension or termination of some functions for some users.
To contact you. We may contact you with service-related announcements from time to time. You may opt out of all communications except essential update. We may include content you see on Musicnote in the emails we send to you as well as notify you when your Contacts have been communicating with you through the Service. 
To serve personalized advertising to you. We don't share your information with advertisers without your consent. (An example of consent would be if you asked us to provide your shipping address to an advertiser to receive a free sample.) We allow advertisers to choose the characteristics of users who will see their advertisements and we may use any of the non-personally identifiable attributes we have collected (including information you may have decided not to show to other users, such as your birth year or other sensitive personal information or preferences) to select the appropriate audience for those advertisements. For example, we might use your interest in a particular instrument to show you ads for that type of musical equipment, but we do not tell the musical equipment company who you are. Even though we do not share your information with advertisers without your consent, when you click on or otherwise interact with an advertisement there is a possibility that the advertiser may place a cookie in your browser and note that it meets the criteria they selected. 
To make Suggestions. We use your profile information and other relevant information, to help you connect with your Contacts, including making suggestions to you and other users that you connect with on Musicnote. We may also suggest Notes from the Crowd based on your musical 
preferences, skill level and other profile information.</p> 

<h4>Information Sharing and Disclosure</h4>

<p>We do not disclose your private personal information except in the limited circumstances described here. 
Your Consent: We may share or disclose your information at your direction, such as when you authorize a third-party web client or application to access your Musicnote account.
Service Providers: We engage service providers to perform functions and provide services to us in the United States and abroad. We may share your private personal information with such service providers subject to confidentiality obligations consistent with this Privacy Policy, and on the condition that the third parties use your private personal data only on our behalf and pursuant to our instructions.
Law and Harm: Notwithstanding anything to the contrary in this Policy, we may preserve or disclose your information if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect Musicnote's rights or property. However, nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party's, including a government's, request to disclose your information.
Business Transfers: In the event that Musicnote is involved in a bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that transaction. The promises in this Privacy Policy will apply to your information as transferred to the new entity.
Non-Private or Non-Personal Information: We may share or disclose your non-private, aggregated or otherwise non-personal information, such as your public user profile information, the people you follow or that follow you, or the number of users who clicked on a particular link (even if only one did).</p>




<h4>Our policy towards children</h4>

<p>Our Services are meant to assist in the teaching and learning of music and we strongly value the safety and security of any young users. We want our community to be a safe and secure educational platform for people of all ages, however, we do not condone children using our service. Any children who wish to use our service should always do so with the supervision and permission of an adult. Our Services are not directed to persons under 13 without the consent and assistance of a guardian. If you become aware that your child has provided us with personal information without your consent, please contact us at team@musicnoteapp.com.  We do not knowingly collect personal information from children under 13. If we become aware that a child under 13 has provided us with personal information without the consent or assistance of a parent or guardian, we take steps to remove such information and terminate the child's account.</p>

<h4>Changes to this Policy</h4>

<p>We may revise this Privacy Policy from time to time. We do so to keep pace with changes to our Services and any laws applicable to us and you. The most current version of the policy will govern our use of your information. If we make a change to this policy that, in our sole discretion, is material, we will notify you via an update or email to the email address associated with your account. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.</p>

<p>If you have any thoughts or questions about our Privacy Policy or Terms of Service please contact us at team@musicnoteapp.com</p> 

<div class="control-group" style="font-family:Helvetica Neue">

</div>
</div>
<div class="modalFooter" style="height:8%">
	<button class="modalBtn fontStyle" data-dismiss="modal" id="ok">OK</button>
</div>
</div>
</div>
</div>
<div id="chooseNotificationModel" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="">
	<div class="modal-dialog">
    <div class="modal-content">	
			<div class="modalHeader">
				<button type="button" class="close js-modal-close" data-dismiss="modal" aria-hidden="true" id="closeModel">&times;</button>
				<h4 id="mysModalLabel" style="font-family: Helvetica Neue;">Email Notifications</h4>
			</div>
			
<div class="modalBody" style="height:70%;">
	<div class="control-group" style="margin-left:10px;">

	<!-- <div><label>
<input id="welcomeMail" name="welcomeMailNotify" value="welcomeMail" checked disabled	type="checkbox" class="form-control fontStyle14"   />
<span id=""><strong style="display: block;font-weight: normal;line-height: 17px;margin: 0 0 0 28px;margin-top:-23px;">Welcome mail
 </strong> </span></label>
</div> -->

<div><label>
<input id="contactMail" name="contactMail" value="contactBasis"	type="checkbox"   />
New contacts add me
 </label>
</div>
	<div><label>
<input id="noteMail" name="noteMail" value="noteBasis"	type="checkbox"   />
Notes are shared with me
 </label>
</div>

<div><label>
<input id="memoMail" name="memoMail" value="memoBasis"	type="checkbox"    />
Memos are shared with me
 </label>
</div>


<div><label>
<input id="eventMail" name="eventMail" value="eventBasis"	type="checkbox"   />
Events are shared with me
</label>
</div>



<div style="display:none"><label>
<input id="sharedNote" name="sharedNote" value="sharedNote"	type="checkbox"    />
Changes are made to a shared Note
 </label>
</div>

<div style="display:none"><label>
<input id="sharedEvent" name="sharedEvent" value="sharedEvent"	type="checkbox"    />
Changes are made to a shared Event
</label>
</div>

<div style="display:none"><label>
<input id="sharedMemo" name="sharedMemo" value="sharedMemo"	type="checkbox"    />
Changes are made to a shared Memo
 </label>
</div>


<div><label>
<input id="dueDateMail" name="dueDateMail" value="dueDateMail"	type="checkbox"    />
Due dates and reminders are approaching
</label>
</div>


<div style="display:none"><label>
<input id="commentsNote" name="commentsNote" value="commentsNote"	type="checkbox"    />
Comments are added to a shared Note
 </label>
</div>


<div style="display:none"><label>
<input id="commentsMemo" name="commentsMemo" value="commentsMemo"	type="checkbox"   />
Comments are added to a shared Memo
 </label>
</div>

<div><label>
<input id="crowdMail" name="crowdMail" value="crowdBasis"	type="checkbox"    />
Someone I follow adds a new Note to the Crowd
</label>
</div>


</div></div>
			<div class="modalFooter">
				<button class="modalBtn fontStyle" id="addMailNotifyList" style="font-size:14px;">Save Settings</button>
				
			</div>
		
		
</div>
</div>
</div>
<link href="js/fullcalendar/datetimepicker.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="js/fullcalendar/bootstrap-datetimepicker.js" charset="UTF-8"></script>

<script type="text/javascript">
$(document).ready( function() {
	window.addEvent('domready', function(){
		$('#rdob').datetimepicker({
			weekStart: 0,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1,
			minView:2,
			maxView:4,
			format : 'M/d/yyyy'
		});
	});
});
function keypressnotallowed(event)
{
	return false;
}
</script>
<script src="js/models/facebook.js"></script>
<script src="js/models/createuser.js" type="text/javascript"></script> 
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>