<div style="background-color: #DDDDDD;">
	<div class="backGroundColor"style="padding-top:1px; position: relative;height:600px;">
	<!--<script>
		$(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
	</script>
	-->
<div class="form-group">
	<div class="row"><div class="col-md-2"></div><div class="col-md-4 resetpassword" >
		<br></br><h4 style="font-family: Helvetica Neue;font-size:14px;"><center>Reset Password</center></h4>	
		<br>
		</div></div>
		</div>

<div class="form-group">		
<div class="row">
<div class="col-md-2" id="divoldpassword">
<label class="control-label-text oldpassword"style="font-family: Helvetica Neue;font-size:14px;">Old
Password</label>
</div>
<!--<div class="col-md-1">
</div>-->
<div class="col-md-4">
 <input class="form-control fontStyle" id="oldPassword" style="font-family: Helvetica Neue;font-size:14px;width:58%;" name="oldpassword" type="password"
	required />
</div>
<!--<div class="col-md-2">
</div>-->
<div class="col-md-3">
<div class="fontStyle" id="oldPasswordDiv" style="display: none"></div>
<div class="fontStyle" id="oldPasswordDiv1" style="display: none"></div>
</div>
</div>
</div>

<div class="form-group">
<div class="row">
<div class="col-md-2" id="divnewpassword">
<label class="control-label-text fontStyle newpassword"style="font-family: Helvetica Neue;font-size:14px;">New Password</label>
</div>
<!--<div class="col-md-1">
</div>-->
<div class="col-md-4">
<input
	id="newpassword" style="font-family: Helvetica Neue;font-size:14px;width:58%" class="form-control fontStyle" name="newpassword" type="password" required onblur="javascript:validateNewPassword();"/>
</div>
<!--<div class="col-md-2">
</div>-->
<div class="col-md-3">
<div class="" id="newpasswordDiv" style="display: none"></div>
</div>
</div>
</div>

<div class="form-group">
<div class="row">
<div class="col-md-2" id="divconfirmpassword">
<label class="control-label-text"style="font-family: Helvetica Neue;font-size:14px;" class="fontStyle confirmpassword">Confirm Password</label> </div>
<!--<div class="col-md-1">
</div>-->
<div class="col-md-4">
<input
	id="cfrmpassword" type="password" style="font-family: Helvetica Neue;font-size:14px;width:58%" class="form-control fontStyle"
	data-validation-match-match="newpassword" name="cfrmpassword"
	data-validation-match-message="Passwords are not match. Try again" />
</div>
<!--<div class="col-md-2">
</div>-->
<div class="col-md-3">
<div class="" id="cfrmpasswordDiv" style="display: none" class="fontStyle"></div>
<div class="" id="cfrmpasswordDiv1" style="display: none" class="fontStyle"></div></div>
</div>
</div>
<!--
<div class="col-md-2">
</div>


<div class="col-md-3">









 






</div>
</div>

-->
<!-- reset password not support for mailId and sequrity Question blank Users -->
<div class="row">
	<div class="span1"></div>
<div class="span7">
		<div class="" id="resetPasswordNotSupport" style="dispaly: none"></div>
	</div>
</div>

<div class="row"  >
<!--<div class="col-md-1"></div>-->
<div class="col-md-3">
				
</div>
<div class="col-md-6" id="submitcancel"><a class="btn btn-medium btn-primary"
	id="resetSubmit" aria-hidden="true" style="font-family: Helvetica Neue;font-size:14px;">Submit</a> <a
	class="btn btn-medium btn-primary" id="resetCancel" aria-hidden="true" style="font-family: Helvetica Neue;font-size:14px;">Cancel</a>

</div>


</div>
	
	<div class="modal" id="msgModal1" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
				style="position: absolute; ">
					<div class="modal-dialog">
    <div class="modal-content">	
		<div class="modal-header fontStyle " style="position: relative; height:13px;margin-top:20px">
			<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" style="margin-top:-20px">&times;</button>
			<span id="msg-header-span1"></span>
		</div>
		<div id="msg-modal-body1" class="modal-body col-md-6 fontStyle">
			<span id="modal-message1"></span>
		</div>
		<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true"
			id="msgfooterbtn1">Close</button>
		</div>
	</div>
	</div>
	</div>
	
	

	
</div>
</div>
<link rel="stylesheet" href="css/commonstyles.css" ></link>
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
<script src="js/models/loginmodel.js" type="text/javascript"></script> 
