.navbar .navbar-inner {
  border-radius: 0;
  padding-left: 5px; 
}
.menu {
  height: 100%;
  /* background-color: #3D6AA2; */ 
}

.collapse-horiz {
			width: 0;
			overflow-x: hidden;
			overflow-y: hidden;
			position: relative;
			transition-delay: 0s;
			transition-duration: 0.50s;
			transition-property: width;
			transition-timing-function: ease;
		}
		.collapse-horiz.in .width{
			width: auto;
		}
		.collapse-horiz.width {
		  position: relative;
		  width: 0;
		  overflow: hidden;
		  -webkit-transition: width 0.35s ease;
		  -moz-transition: width 0.35s ease;
		  -o-transition: width 0.35s ease;
		  transition: width 0.35s ease; 
		}
		.navbar .navbar-inner .btn-navbar {
		  display: block;
		  float: left; 
		}
		.menu.collapse {
		  float: left;
		  height: 100% !important;
		  width: auto; 
		}
	.menu.collapse-horiz.height {
		  position: relative;
		  height: 0;
		  overflow: hidden;
		  -webkit-transition: height 0.35s ease;
		  -moz-transition: height 0.35s ease;
		  -o-transition: height 0.35s ease;
		  transition: height 0.35s ease; 
		}
			.menu.collapse-horiz.width {
		  position: relative;
		  width: 0;
		  overflow: hidden;
		  -webkit-transition: width 0.35s ease;
		  -moz-transition: width 0.35s ease;
		  -o-transition: width 0.35s ease;
		  transition: width 0.35s ease; 
		}
		.menu.collapse-horiz.in.width {
		  width: auto; 
		}
	.menu.collapse-horiz.in.height {
  height: auto; 
}

 .menu .collapse-inner {
  position: relative;
  width: 250px;
  height: 100%; 
}

.menu .navbar .navbar-inner {
  text-align: center;
  color: grey;
  font-size: 1.2em;
  line-height: 38px; 
}

.menu .nav-stacked {
  padding: 0 10px; 
}