#limitChar,#limitChar1{
	margin-left:4px;
	color:red;
}
#helpSubmit{
	margin-right: 20px;
	margin-left:4px;
}
.modal hide fade{
	position: absolute; 
	height: 50px;
}
.help-button.help-char-remaining{
	margin-left:4px;
}
.backGroundColor{
	padding-top:1px;
	position: relative;
}
.control-label-text{
	font-family: Helvetica Neue;
	font-size:14px;
	height:150px;
	width:80%;
	margin-left:4px;
}
.help-title{
	font-family: Helvetica Neue;
	font-size:14px;
	margin-left:4px;
}
.help-message{
	font-family: Helvetica Neue;
	font-size:14px;
	width:94%;
	margin-left:4px;
	
}