.batchAlign{
margin-top:-85px;
margin-left:30px;
}
.modalAlign{
width:100%;
height:100%;
}
.modalAlign1{
height:100%;
width:100%;
}
.modalAlign2{
height:100%;
}

.noteMenu {
	
}

.noteMenuDiv {
	min-width: 100px;
	max-width: auto;
}

.noteMenuDiv  .noteMenuUl {
	position: relative;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.listMenuDiv {
	min-width: 170px;
	max-width: auto;
}

.listMenuDiv  .listMenuUl {
	position: relative;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.bookMenuForLeft{
	
}
/*Due date styles*/
#dueDateModel {
}

.date-and-time-select {
	width: 100%;
}

.date-and-time-select .date {
	width: 46%;
	display: inline-block;
}

.date-and-time-select .time {
	width: 46%;
	display: inline-block;
	padding-left: 10px;
}

#dataTimeDiv div p {
	margin-bottom: 4px;
}

#dataTimeDiv div input {
	width: 110px;
}

.badges {
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 2px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

.badge {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-text-blink: none;
	-moz-text-decoration-color: -moz-use-text-color;
	-moz-text-decoration-line: none;
	-moz-text-decoration-style: solid;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #E6E6E6;
	background-image: none;
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
	border-bottom-color: #D3D3D3;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-left-color-value: #D9D9D9;
	border-left-style-ltr-source: physical;
	border-left-style-rtl-source: physical;
	border-left-style-value: solid;
	border-left-width-ltr-source: physical;
	border-left-width-rtl-source: physical;
	border-left-width-value: 1px;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-right-color-value: #D9D9D9;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	border-right-style-value: solid;
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-right-width-value: 1px;
	border-top-color: #D9D9D9;
	border-top-style: solid;
	border-top-width: 1px;
	cursor: default;
	/* height: 16px; */
	margin-bottom: 4px;
	margin-left: 0;
	margin-right: 4px;
	margin-top: 0;
	position: relative;
	/* width: 80px; */
}

/*This card is past due.*/
.badge.due-past {
	background-color: #A38F8F;
	border-bottom-color: #A38F8F;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-left-color-value: #A38F8F;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-right-color-value: #A38F8F;
	border-top-color: #A38F8F;
}

/*This card is due in 21 and a half hours.*/
.badge.due-soon {
	background-color: #C3B622;
	border-bottom-color: #C3B622;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-left-color-value: #C3B622;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-right-color-value: #C3B622;
	border-top-color: #C3B622;
}

/*This card is recently past due!*/
.badge.due-now {
	background-color: #A82424;
	border-bottom-color: #A82424;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-left-color-value: #A82424;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-right-color-value: #A82424;
	border-top-color: #A82424;
}

/*This card is due later.*/
.badge.due-future {
	
}

.badge .badge-text {
	color: #737373;
	font-size: 11px;
	line-height: 16px;
}

.badge.due-past .badge-text,.badge.due-past:hover,.badge.due-past:hover .badge-text
	{
	color: #FFFFFF;
}

.badge.due-now .badge-text,.badge.due-now:hover,.badge.due-now:hover .badge-text
	{
	color: #FFFFFF;
}

.badge.due-soon .badge-text,.badge.due-soon:hover,.badge.due-soon:hover .badge-text
	{
	color: #FFFFFF;
}

.badge .icon-sm {
	float: left;
	margin-top: -1px;
}

/*Due date styles - End*/
.js-attach {
	
}

.badge.voted {
	background-color: #D0D0D0;
	border-color: #D0D0D0;
}

.badge.clickable {
	cursor: pointer;
}

.myAccordion {
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.my-accordion-heading {
	background-color: #D6D6D6;
}

.window-header {
	margin: 4px 40px;
	padding: 12px 12px 0px;
	position: relative;
}

.window-header .window-header-icon {
	bottom: 6px;
	left: -20px;
	position: absolute;
}

.icon-lg {
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	width: 30px;
}

.icon-lg,.icon-sm {
	color: rgb(169, 169, 169);
	display: inline-block;
	font-family: "Trellicons Regular";
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	width: auto;
}

.window-module {
	clear: both;
	margin-bottom: 20px;
	position: relative;
}

.window-module-title .window-module-title-icon {
	left: -30px;
	position: absolute;
	bottom: 21px;
}

.window-module-title.no-divider {
	border-bottom: medium none;
}

.window-module-title {
	border-bottom: 1px solid rgb(220, 220, 220);
	padding: 8px 0px;
	position: relative;
	margin: 0px 0px 6px 40px;
}

.new-comment {
	position: relative;
	margin: 0px 0px 20px 0px;
}

.new-comment-input {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #FFFFFF;
	border-color: #D3D3D3 #D3D3D3 #BBBBBB;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 3px #D3D3D3;
	color: #939393;
	height: 36px; 
	margin: 4px 4px 6px 0;
	padding: 8px 10px;
	transition: height 85ms ease-in-out 0s;
	width: 100%;
}

.new-comment-input {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #FFFFFF;
	border-color: #D3D3D3 #D3D3D3 #BBBBBB;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 3px #D3D3D3;
	color: #939393;
	height: 36px;
	margin: 4px 4px 6px 0;
	padding: 8px 10px;
	transition: height 85ms ease-in-out 0s;
	width: 70%;
}

.new-comment-input-heigth {
	height: 76px;
}

.btn-left-align {
	left: 32px;
	position: absolute;
}

.phenom {
	border-bottom: 1px solid #DCDCDC;
	min-height: 30px;
	padding: 8px 0 8px 40px;
	position: relative;
}

.phenom-bold {
	border-bottom: 3px solid grey;
	position: relative;
	margin-bottom: 3%;
}
.phenom-noline {
	border-bottom: 0px solid #DCDCDC;
	min-height: 30px;
	padding: 8px 0 8px 40px;
	position: relative;
}



.phenom .member.creator {
	border-color: #B9B9B9;
}

.phenom .creator {
	border: 1px solid transparent;
	height: 30px;
	left: 0;
	position: absolute;
	top: 10px;
	width: 30px;
}

.member {
	-moz-user-select: none;
	background-color: #CCCCCC;
	border: 1px solid #B9B9B9;
	border-radius: 3px 3px 3px 3px;
	color: #444444;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	left: 10px;
	margin: 0 14px 1px 0;
	overflow: auto;
	top: 5px;
	position: relative;
	text-decoration: none;
	width: 30px;
	cursor: pointer;
	-moz-user-select: none;
	z-index: 0;
}

.inline-object {
	font-weight: bold;
	text-decoration: none;
}

a {
	color: #444444;
	cursor: pointer;
}

.window-module .phenom .action-comment {
	cursor: auto;
}

.action-comment {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #FFFFFF;
	border-color: #D3D3D3 #D3D3D3 #BBBBBB;
	border-image: none;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 3px #D3D3D3;
	clear: both;
	cursor: pointer;
	display: block;
	margin: 4px 4px 5px 0;
	overflow: auto;
	padding: 8px 10px;
	text-overflow: ellipsis;
}

.member .member-initials {
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	left: 0;
	line-height: 30px;
	overflow: auto;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}

.pop-over .header .header-title {
	color: #939393;
	display: block;
	font-weight: bold;
	line-height: 21px;
	overflow: hidden;
	padding: 0 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 220px;
}

.pop-over .header {
	text-align: center;
}

.js-access-change {
	
}

.popover-user-name {
	font-size: 18px;
	height: 20px;
	margin: 1px 4px 6px 0;
	padding: 8px 10px;
	transition: height 85ms ease-in-out 0s;
	width: 100%;
}

.list-voters {
	min-width: 100%;
}

.list-voters.compact .voter {
	min-height: 36px;
	position: relative;
}

.list-voters.compact .voter .title {
	display: block;
	left: 0;
	line-height: 30px;
	overflow: hidden;
	padding-left: 28px;
	position: absolute;
	text-overflow: ellipsis;
	top: 0;
	white-space: nowrap;
	width: 230px;
}

.pop-over hr {
	margin: 6px 0;
}

hr {
	background: none repeat scroll 0 0 #DCDCDC;
	border: medium none;
	color: #DCDCDC;
	height: 1px;
	margin: 8px -6px;
	padding: 0;
	width: 100%;
}

.popover-content {
	margin: 2px 80px 9px 0;
	padding: 9px 16px 10px;
	width: 90%;
}

.button-link {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-user-select: none;
	background: linear-gradient(to bottom, #FFFFFF 0%, #F3F3F3 100%) repeat
		scroll 0 0 transparent;
	border-color: #CECECE #CECECE #A0A0A0;
	border-image: none;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: block;
	font-weight: bold;
	/* height: 18px; */
	margin-top: 6px;
	max-width: 250px;
	overflow: hidden;
	/* padding: 6px; */
	position: relative;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.note-button-link {
	-moz-border-bottom-colors: #2887BD;
	-moz-border-left-colors: #2887BD;
	-moz-border-right-colors: #2887BD;
	-moz-border-top-colors: #2887BD;
	-moz-user-select: none;
	background: none repeat scroll 0 0 #1F6993;
	border-color: #CECECE #CECECE #A0A0A0;
	border-image: none;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: block;
	font-weight: bold;
	height: 18px;
	margin-top: 6px;
	max-width: 250px;
	overflow: hidden;
	padding: 6px;
	position: relative;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.button-link .on {
	background: linear-gradient(to bottom, #24A828 0%, #1B7E1E 100%) repeat
		scroll 0 0 transparent;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	display: none;
	font-size: 12px;
	font-weight: bold;
	height: 17px;
	line-height: 17px;
	margin: 0;
	padding: 2px 4px;
	position: absolute;
	right: 5px;
	text-align: center;
	top: 5px;
}
.note-button-link .on {
	background: linear-gradient(to bottom, #24A828 0%, #1B7E1E 100%) repeat
		scroll 0 0 transparent;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	display: none;
	font-size: 12px;
	font-weight: bold;
	height: 17px;
	line-height: 17px;
	margin: 0;
	padding: 2px 4px;
	position: absolute;
	right: 5px;
	text-align: center;
	top: 5px;
}

.button-link.is-on {
	max-width: 196px;
	padding-right: 30px;
}
.note-button-link.is-on {
	max-width: 196px;
	padding-right: 30px;
}
.button-link.is-on .on {
	display: block;
}
.note-button-link.is-on .on {
	display: block;
}
.button-link.inline {
	color: #666666;
	margin-left: 4px;
	padding: 2px 14px;
}
.button-link.inline {
	color: #666666;
	margin-left: 4px;
	padding: 2px 14px;
}

.note-button-link.setting {
	float: left;
	height: 38px;
	margin: 0;
	position: relative;
}

.button-link.setting.disabled {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #E9E9E9;
	color: #939393;
	cursor: default;
}
.note-button-link.setting.disabled {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #E9E9E9;
	color: #939393;
	cursor: default;
}
.button-link.setting.disabled select {
	display: none;
}
.note-button-link.setting.disabled select {
	display: none;
}
.button-link.setting.disabled:hover {
	color: #939393;
}
.note-button-link.setting.disabled:hover {
	color: #939393;
}
.button-link.setting.disabled:hover .label {
	color: #939393;
}
.note-button-link.disabled:hover .label {
	color: #939393;
}
.button-link.setting .label {
	color: #939393;
	display: block;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 3px;
}

.note-button-link.setting .label {
	color: #939393;
	display: block;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 3px;
}

.button-link.setting:hover .label {
	color: #EEEEEE;
}

.note-button-link.setting:hover .label {
	color: #EEEEEE;
}

.button-link.setting .value {
	display: block;
	font-size: 18px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.note-button-link.setting .value {
	display: block;
	font-size: 18px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.button-link.setting label {
	display: none;
}

.note-button-link.setting label {
	display: none;
}

.button-link.setting select {
	border: medium none;
	cursor: pointer;
	height: 50px;
	left: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.note-button-link.setting select {
	border: medium none;
	cursor: pointer;
	height: 50px;
	left: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.button-link.disabled,.button-link.disabled:hover,.button-link.disabled:active,.button-link.disabled.primary,.button-link.disabled.primary:hover,.button-link.disabled.primary:active,.button-link.disabled.disabled,.button-link.disabled.disabled:hover,.button-link.disabled.disabled:active
	{
	background: none repeat scroll 0 0 #CFCFCF;
	border-color: #C2C2C2 #C2C2C2 #B5B5B5;
	box-shadow: none;
	color: #A8A8A8;
	cursor: default;
}

.button-link.disabled .icon-sm,.button-link.disabled:hover .icon-sm,.button-link.disabled:active .icon-sm,.button-link.disabled.primary .icon-sm,.button-link.disabled.primary:hover .icon-sm,.button-link.disabled.primary:active .icon-sm,.button-link.disabled.disabled .icon-sm,.button-link.disabled.disabled:hover .icon-sm,.button-link.disabled.disabled:active .icon-sm
	{
	color: #A9A9A9;
}

.button-link:hover {
	background: linear-gradient(to bottom, #2887BD 0%, #1F6993 100%) repeat
		scroll 0 0 transparent;
	border-color: #2478A8;
	color: #FFFFFF;
}

.button-link:hover .on {
	background-color: rgba(255, 255, 255, 0.3);
	background-image: none;
	border-color: transparent;
}

.button-link:hover .icon-sm {
	color: #FFFFFF;
}

.button-link:active {
	background: linear-gradient(to bottom, #2478A8 0%, #1B5A7E 100%) repeat
		scroll 0 0 transparent;
	border-color: #1F6993;
	color: #FFFFFF;
}

.button-link:active .icon-sm {
	color: #FFFFFF;
}

.button-link.negate:hover {
	background: linear-gradient(to bottom, #A82424 0%, #7E1B1B 100%) repeat
		scroll 0 0 transparent;
	border-color: #7E1B1B;
}

.button-link.negate:active {
	background: linear-gradient(to bottom, #931F1F 0%, #691616 100%) repeat
		scroll 0 0 transparent;
	border-color: #691616;
}

.button-link.primary {
	background: linear-gradient(to bottom, #24A828 0%, #1B7E1E 100%) repeat
		scroll 0 0 transparent;
	border: 1px solid #1F9323;
	color: #FFFFFF;
}

.button-link.primary .icon-sm {
	color: #FFFFFF;
}

.button-link.primary:hover {
	background: linear-gradient(to bottom, #1F9323 0%, #166919 100%) repeat
		scroll 0 0 transparent;
	border-color: #1B7E1E;
}

.button-link.danger {
	background: linear-gradient(to bottom, #A82424 0%, #7E1B1B 100%) repeat
		scroll 0 0 transparent;
	border: 1px solid #931F1F;
	color: #FFFFFF;
}

.button-link.danger .icon-sm {
	color: #FFFFFF;
}

.button-link.danger:hover {
	background: linear-gradient(to bottom, #931F1F 0%, #691616 100%) repeat
		scroll 0 0 transparent;
	border-color: #7E1B1B;
}

.note-button-link.disabled,.note-button-link.disabled:hover,.note-button-link.disabled:active,.note-button-link.disabled.primary,.note-button-link.disabled.primary:hover,.note-button-link.disabled.primary:active,.note-button-link.disabled.disabled,.note-button-link.disabled.disabled:hover,.note-button-link.disabled.disabled:active
	{
	background: none repeat scroll 0 0 #CFCFCF;
	border-color: #C2C2C2 #C2C2C2 #B5B5B5;
	box-shadow: none;
	color: #A8A8A8;
	cursor: default;
}

.note-button-link.disabled .icon-sm,.note-button-link.disabled:hover .icon-sm,.note-button-link.disabled:active .icon-sm,.note-button-link.disabled.primary .icon-sm,.note-button-link.disabled.primary:hover .icon-sm,.note-button-link.disabled.primary:active .icon-sm,.note-button-link.disabled.disabled .icon-sm,.note-button-link.disabled.disabled:hover .icon-sm,.note-button-link.disabled.disabled:active .icon-sm
	{
	color: #A9A9A9;
}

.note-button-link:hover {
	background: linear-gradient(to bottom, #2887BD 0%, #1F6993 100%) repeat
		scroll 0 0 transparent;
	border-color: #2478A8;
	color: #FFFFFF;
}

.note-button-link:hover .on {
	background-color: rgba(255, 255, 255, 0.3);
	background-image: none;
	border-color: transparent;
}

.note-button-link:hover .icon-sm {
	color: #FFFFFF;
}

.note-button-link:active {
	background: linear-gradient(to bottom, #2478A8 0%, #1B5A7E 100%) repeat
		scroll 0 0 transparent;
	border-color: #1F6993;
	color: #FFFFFF;
}

.note-button-link:active .icon-sm {
	color: #FFFFFF;
}

.note-button-link.negate:hover {
	background: linear-gradient(to bottom, #A82424 0%, #7E1B1B 100%) repeat
		scroll 0 0 transparent;
	border-color: #7E1B1B;
}

.note-button-link.negate:active {
	background: linear-gradient(to bottom, #931F1F 0%, #691616 100%) repeat
		scroll 0 0 transparent;
	border-color: #691616;
}

.note-button-link.primary {
	background: linear-gradient(to bottom, #24A828 0%, #1B7E1E 100%) repeat
		scroll 0 0 transparent;
	border: 1px solid #1F9323;
	color: #FFFFFF;
}

.note-button-link.primary .icon-sm {
	color: #FFFFFF;
}

.note-button-link.primary:hover {
	background: linear-gradient(to bottom, #1F9323 0%, #166919 100%) repeat
		scroll 0 0 transparent;
	border-color: #1B7E1E;
}

.note-button-link.danger {
	background: linear-gradient(to bottom, #A82424 0%, #7E1B1B 100%) repeat
		scroll 0 0 transparent;
	border: 1px solid #931F1F;
	color: #FFFFFF;
}

.note-button-link.danger .icon-sm {
	color: #FFFFFF;
}

.note-button-link.danger:hover {
	background: linear-gradient(to bottom, #931F1F 0%, #691616 100%) repeat
		scroll 0 0 transparent;
	border-color: #7E1B1B;
}

.new-desc-input {
	height: 126px;
	width: 340px;
}

.new-desc-cancel-btn {
	margin-top: 4px;
}

.p-decs-test-align {
	font-size: small;
	font-style: normal;
	margin: 5px 0 10px;
	line-height: 1.4;
	text-overflow: ellipsis;
	max-height: 150px;
	overflow-y: auto;
}

.js-old-share {
	
}

.js-old-group {
	
}

.js-modal-close {
	
}

.createTag {
	
}

.tagIconEdit {
	
}

.tagIconDelete {
	
}

.noteToTag {
	
}

.btn-group-vote {
	display: inline-block;
	font-size: 0;
	position: relative;
	vertical-align: middle;
	white-space: pre-wrap;
}

.modalName-text {
	height: 100px;
	width: 280px;
}

.dropDownStopProgress {
	
}

.js-enableBook {
	
}

.js-shareBook-individual {
	
}

.js-shareBook-group {
	
}

.js-shareBook-allContact {
	
}

.arrow {
	margin: 2px 0px 0px 0px;
	width: 100%;
	height: 14px;
	display: block;
	cursor: pointer;
	background-repeat: no-repeat;
	width: 15px;
	margin-left: auto;
	margin-right: auto;
	outline: none;
}

.vote-text {
	margin: 2px 0px 0px 0px;
	width: 100%;
	height: 14px;
	display: block;
	cursor: none;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	outline: none;
	width: -moz-fit-content;
}

.js-delete-list {
	
}

.js-delete-note {
	
}

.js-delete-allNote {
	
}

.delete-All-warn {
	
}

.delete-Book-warn {
	
}

.delete-Note-warn {
	
}

.js-decs-note-text {
	
}

.js-crowd-copy-note{
	/* green   background: linear-gradient(to bottom, #5BB75B 90%, #F3F3F3 10%) repeat scroll 0 0 transparent;
	skyblue    background: linear-gradient(to bottom, #49afcd 90%, #F3F3F3 10%) repeat scroll 0 0 transparent;
	red        background: linear-gradient(to bottom, #da4f49 100%, #F3F3F3 0%) repeat scroll 0 0 transparent;*/
	
}
.js-crowd-copied-note{
	background: linear-gradient(to bottom, #faa732 100%, #F3F3F3 0%) repeat scroll 0 0 transparent;
}
.js-access-changed{
	//background: linear-gradient(to bottom, #faa732 100%, #F3F3F3 0%) repeat scroll 0 0 transparent;
}
.js-publicshare-note{
}
.Note-publicshare-warn{
}

.tagss{
}
.true{
}
.false{
}
.single{
}
.group{
}
.allCon{
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.ext {
    color: #939393;
    font-size: 16px;
    font-weight: bold;
    left: 0;
    line-height: 38px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 48px;
    z-index: 1;
}
.ellip {
	font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 
.meta {
    margin: 14px 0 0 39px;
	position: absolute;
}

ul.tagit input[type="text"]
{
	border: 1px solid !important;
	}


.createBook{
}
.bookIconEdit{
}
.bookIconDelete{
}
.bookAddClass{
}
.noteToBook{
}